
<govuk-formpage
  saveAndContinueText="Save and Continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="saveAndContinue()"
  [hideBackButton]="false"
  id="new-applicant-name"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >


    <govuk-error-link
      *ngIf="!FirstNameValid"
      anchorId="input-first-name"
      message="Enter your first name"
    />
    <govuk-error-link
      *ngIf="!LastNameValid"
      anchorId="input-last-name"
      message="Enter your last name"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Your name</h1>

  <govuk-body>
    We collect personal information so we can contact you if required.
  </govuk-body>

  <govuk-body>
    We will tell you in this service which items of information will be
    published in the public register.
  </govuk-body>


    <govuk-warning
      message="Your name will be published in the public register."
      background="#0"
    ></govuk-warning>



  <div class="govuk-form-group">

  <govuk-input
    id="first-name"
    label="First name"
    [(model)]="model.PersonalDetails!.ApplicantName!.FirstName"
    class="govuk-input--width-30"
    [errorText]="getErrorDescription(!FirstNameValid, 'Enter your first name')"
    hintClass="no-margin-top"
    (onKeyupEnter)="saveAndContinue()"
  />

  </div>

  <div class="govuk-form-group">

  <govuk-input
    id="last-name"
    label="Last name"
    [(model)]="model.PersonalDetails!.ApplicantName!.LastName"
    class="govuk-input--width-30"
    [errorText]="getErrorDescription(!LastNameValid, 'Enter your last name')"
    hintClass="no-margin-top"
    (onKeyupEnter)="saveAndContinue()"
  />
  </div>
</govuk-formpage>
