<govuk-summary-list>
  <govuk-summary-list-row
    (onClick)="navigateTo('NAME')"
    (onKeyupEnter)="navigateTo('NAME')"
    key="Name"
    [actionText]="'change'"
    [showAction]="true"
    actionDetails="Name"
  >
    {{ PersonalDetails?.ApplicantName?.FirstName }}
    {{ PersonalDetails?.ApplicantName?.LastName }}
  </govuk-summary-list-row>
  <govuk-summary-list-row key="Email address" [showAction]="false">
    {{ (PersonalDetails?.ApplicantEmail)!.Email }}
  </govuk-summary-list-row>
  <govuk-summary-list-row key="Telephone number" [showAction]="false">
    {{ (PersonalDetails?.ApplicantPhone)!.PhoneNumber }}
  </govuk-summary-list-row>
  <govuk-summary-list-row
    (onClick)="navigateTo('DATE_OF_BIRTH')"
    (onKeyupEnter)="navigateTo('DATE_OF_BIRTH')"
    key="Date of birth"
    [actionText]="'change'"
    [showAction]="true"
    actionDetails="Date of birth"
    >{{ GetFormattedDateofBirth() }}</govuk-summary-list-row
  >
  <govuk-summary-list-row
    (onClick)="navigateTo('ADDRESS')"
    [actionText]="'change'"
    actionDetails="Address"
    (onKeyupEnter)="navigateTo('ADDRESS')"
    key="Home address"
    [showAction]="true"
  >
    <div>
      <div *ngIf="PersonalDetails?.ApplicantAddress?.Address">
        {{ PersonalDetails?.ApplicantAddress?.Address }}
      </div>
    </div>
  </govuk-summary-list-row>
  <govuk-summary-list-row
    (onClick)="navigateTo('ALT_PHONE')"
    [actionText]="'change'"
    actionDetails="Alternative telephone number"
    (onKeyupEnter)="navigateTo('ALT_PHONE')"
    key="Alternative telephone number"
    [showAction]="true"
  >
    {{ getAlternativePhone() }}
  </govuk-summary-list-row>
  <govuk-summary-list-row
    (onClick)="navigateTo('ALT_EMAIL')"
    [actionText]="'change'"
    actionDetails="Alternative email address"
    (onKeyupEnter)="navigateTo('ALT_EMAIL')"
    key="Alternative email address"
    [showAction]="true"
  >
    {{ getAlternativeEmail() }}
  </govuk-summary-list-row>
  <govuk-summary-list-row
    (onClick)="navigateTo('NATIONAL_INS_NUMBER')"
    [actionText]="'change'"
    actionDetails="National Insurance number"
    (onKeyupEnter)="navigateTo('NATIONAL_INS_NUMBER')"
    key="National Insurance number"
    [showAction]="true"
  >
    {{
      PersonalDetails?.ApplicantNationalInsuranceNumber?.NationalInsuranceNumber
    }}
  </govuk-summary-list-row>
</govuk-summary-list>
