<govuk-formpage saveAndContinueText="Save and Continue" [hideSaveAndComeBack]=false (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideBackButton]=false>

  <govuk-error-summary *ngIf="otherNameHasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="invalidNameError" anchorId="input-employer-other-name" message={{errorMessage}} />
    <govuk-error-link *ngIf="noOptionSelectedError" anchorId="yes-input" message={{errorMessage}} />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Do you have a business name?</h1>

  <govuk-radio-group id="employer-other-name-selection" [(model)]="model!.OtherBusinessSelection" [errorText]="getErrorDescription(noOptionSelectedError, errorMessage)">
    <govuk-radio label="Yes" value="yes" id="yes" [model]="model!.OtherBusinessSelection">
      <govuk-input
      *ngIf="model!.OtherBusinessSelection === 'yes'"
        id="employer-other-name"
        label="Business name"
        [(model)]="model!.FullName" [maxlength]=160
        labelClass="govuk-label--s"
        [errorText]="getErrorDescription(invalidNameError, errorMessage)"
        hintClass="no-margin-top"
        class="govuk-!-margin-bottom-1"
        (onKeyupEnter)="saveAndContinue()"
        />

    </govuk-radio>
    <govuk-radio label="No" value="no" id="no"  [model]="model!.OtherBusinessSelection" (onKeyupEnter)="clearName()" (onRadioClicked)="clearName()"></govuk-radio>

  </govuk-radio-group>

</govuk-formpage>
