
<govuk-formpage
  (saveAndComeBack)="saveAndComeBack()"
  saveAndContinueText="Save and Continue"
  [hideSaveAndComeBack]="false"
  (saveAndContinue)="saveAndContinue()"
  [hideBackButton]="false"
  id="applicant-name"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="!FirstNameValid"
      anchorId="input-first-name"
      message="Enter your first name"
    />
    <govuk-error-link
      *ngIf="!LastNameValid"
      anchorId="input-last-name"
      message="Enter your last name"
    />
    <govuk-error-link
      *ngIf="!FirstNameValid && !LastNameValid"
      anchorId="input-first-name"
      message="Enter your first and last name"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Your name</h1>

  <govuk-body>
    We collect personal information so we can contact you if required.
  </govuk-body>

  <govuk-body>
    We will tell you in this service which items of information will be
    published in the public register.
  </govuk-body>

  <govuk-inset-text>
    <govuk-warning
      message="Your name will be published in the public register."
      background="#0"
    ></govuk-warning>
  </govuk-inset-text>

  <div class="govuk-form-group">
    <govuk-input
      id="first-name"
      label="First Name"
      [(model)]="model.FirstName"
      class="govuk-input--width-30"
      [errorText]="
        getErrorDescription(!FirstNameValid, 'Enter your first name')
      "
      hintClass="no-margin-top"
      (onKeyupEnter)="saveAndContinue()"
    />
  </div>

  <div class="govuk-form-group">
    <govuk-input
      id="last-name"
      label="Last Name"
      [(model)]="model.LastName"
      class="govuk-input--width-30"
      [errorText]="getErrorDescription(!LastNameValid, 'Enter your last name')"
      hintClass="no-margin-top"
      (onKeyupEnter)="saveAndContinue()"
    />
  </div>
</govuk-formpage>
