<govuk-breadcrumb-group>
  <govuk-breadcrumb text="Home" link="https://www.gov.uk/" [firstChild]=true></govuk-breadcrumb>
  <govuk-breadcrumb text="Register as a building inspector" link="#"></govuk-breadcrumb>
  <govuk-breadcrumb text="Application" link="#"></govuk-breadcrumb>
</govuk-breadcrumb-group>

<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Register as a building inspector</h1>

      <govuk-body>
        Use this service to apply to register as a building inspector with the Building Safety Regulator (BSR).
      </govuk-body>

      <govuk-body>
        You must be registered with BSR to inspect buildings, sites and plans. This includes all buildings from domestic premises to complex high-rise multi-use structures.
      </govuk-body>

      <govuk-body>
        BSR will make public the register of building inspectors. It will contain details of the type of work you are competent to do.
      </govuk-body>

      <govuk-body>
        Your registration will be valid for 4 years.
      </govuk-body>


      <h2 class="govuk-heading-m">
        To register, we will ask you to provide information about:
      </h2>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="yourself, such as name, home address, email, and phone number" />
        <govuk-list-item text="your employment status, for example, whether you are self-employed or employed by a building control authority" />
      </govuk-list>

      <h2 class="govuk-heading-m">
        We will also ask you for evidence of the type of work you are qualified to do, for example:
      </h2>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="membership of professional bodies" />
        <govuk-list-item text="relevant qualifications" />
        <govuk-list-item text="details of recent projects you have worked on" />
      </govuk-list>

      <h2 class="govuk-heading-m">
        We will ask you to confirm that you will:
      </h2>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="abide by BSR's code of conduct" />
        <govuk-list-item text="releeep your skills and knowledge up to date (continuous professional development)" />
        <govuk-list-item text="maintain an up to date portfolio of evidence in support of your registration" />
      </govuk-list>

      <govuk-body>
        You must consent to your registration being published. We will tell you in the application which details will be published.
      </govuk-body>

      <govuk-body>
        BSR charges £xxx.xx for each registration.
      </govuk-body>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <h3 class="govuk-heading-s">
        Read the guidance about:
      </h3>

      <!--      <govuk-list classes='govuk-list--bullet'>
            <govuk-list-item text="the role and responsibilities of building inspectors under the Building Safety Act 2022" />
            <govuk-list-item text="the code of conduct BSR expects of building inspectors" />
            <govuk-list-item text="the different classes of building inspector, what type of work each can do, and what types of buildings each can inspect" />
            <govuk-list-item text="how to register and the fees BSR charges" />
          </govuk-list>-->

      <ul class="govuk-list govuk-list--bullet">
        <li>the <a href="#" class="info">role and responsibilities</a> of building inspectors under the Building Safety Act 2022</li>
        <li>the <a href="#" class="info">code of conduct</a> BSR expects of building inspectors</li>
        <li>the different <a href="#" class="info">classes</a> of building inspector, what type of work each can do, and what types of buildings each can inspect</li>
        <li>how to <a href="#" class="info">register</a> and the <a href="#" class="info">fees</a> BSR charges</li>
      </ul>

      <govuk-button classes="govuk-button--start govuk-!-margin-bottom-8" link="/select">
        Start now <arrow-right-icon />
      </govuk-button>

      <h2 class="govuk-heading-m">If you need help using this service</h2>
      <govuk-body><a class="govuk-link" href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" target="_blank">Contact us</a> if you need help with your application to register as a building inspector.</govuk-body>
    </div>

    <div class="govuk-grid-column-one-third">
      <govuk-aside subsectionTitle="Related links">
        <govuk-list classes="govuk-!-font-size-16">
          <govuk-list-item text="Building Safety Act 2022" link="https://legislation.gov.uk" [newTab]=true />
        </govuk-list>
      </govuk-aside>
    </div>

  </div>
</div>
