<govuk-breadcrumb-group>
  <govuk-breadcrumb text="Home" link="https://www.gov.uk/" [firstChild]=true></govuk-breadcrumb>
  <govuk-breadcrumb text="Building Safety Regulator" link="#"></govuk-breadcrumb>
  <govuk-breadcrumb text="Register as a building inspector" link="#btn-start-button" tabindex="1"></govuk-breadcrumb>
</govuk-breadcrumb-group>

<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Register as a building inspector</h1>

      <govuk-body>
        Use this service to apply to become a registered building inspector with the Building Safety Regulator (BSR).
      </govuk-body>

      <govuk-body>
        You must register with us to carry out BSR-regulated activities (for example, assessing plans and inspecting). This includes for all buildings from domestic premises to complex, high-risk, multi-use structures.
      </govuk-body>

      <govuk-body>
        We will publish a <a class="govuk-link" href="https://www.gov.uk/guidance/registered-building-inspectors" target="_blank">register of building inspectors</a>. The register will include your name, your employer, and details of BSR-regulated activities you are registered to do. We will tell you in the application which details will be published.</govuk-body>
      <govuk-body>
        Your registration will be valid for 4 years, unless varied or cancelled by us. If you register before 1 April 2024, the 4 years begins from 1 April 2024.
      </govuk-body>


      <h2 class="govuk-heading-m">
        What you will need to register
      </h2>

      <govuk-body>
        To register, we will ask you to provide information about:
      </govuk-body>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="yourself, such as name, home address, email, and phone number" />
        <govuk-list-item text="the class of building inspector you are applying to register as " />
        <govuk-list-item text="details of your BSR-approved competency assessment " />
      </govuk-list>

      <ul class="govuk-list govuk-list--bullet">
        <li>yourself, such as name, home address, email, and phone number</li>
        <li>the class of building inspector you are applying to register as</li>
        <li>details of your <a href="https://www.gov.uk/guidance/registered-building-inspectors" class="govuk-link" target="_blank">BSR-approved competency assessment</a></li>
        <li>membership of relevant professional bodies</li>
        <li>your employment status</li>
      </ul>

      <govuk-body>
        We will ask you to confirm that you will abide by our <a class="govuk-link" href="https://www.hse.gov.uk/building-safety/building-control/code-conduct.htm" target="_blank">code of conduct for registered building inspectors</a>.
      </govuk-body>

      <govuk-body>
        We charge £336 for each registration, plus £216 annual maintenance payable from the first anniversary of your registration. Registration is for a maximum of 4 years.
      </govuk-body>

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <govuk-body>
        Read the guidance about <a href="https://www.hse.gov.uk/building-safety/building-control/code-conduct.htm" class="govuk-link" target="_blank">classes of registered building inspector</a> to decide which class you will register for.
      </govuk-body>

      <govuk-body>
        Use a BSR-authorised scheme to certify your competency, unless you are registering as a class 1 building inspector.
      </govuk-body>

      <govuk-body>
      Read the guidance about:
      <govuk-body>

        <ul class="govuk-list govuk-list--bullet">

          <li><a href="https://www.gov.uk/guidance/registered-building-inspectors" class="govuk-link" target="_blank">Registering as a building inspector</a></li>
          <li>the <a href="https://www.gov.uk/guidance/registered-building-inspectors" class="govuk-link" target="_blank">role of building inspectors</a> under the Building Safety Act 2022 </li>
          <li>Our <a href="https://www.hse.gov.uk/building-safety/building-control/code-conduct.htm" class="govuk-link" target="_blank">code of conduct for registered building inspectors</a>.</li>

        </ul>

      <govuk-button id="start-button" classes="govuk-button--start govuk-!-margin-bottom-8" link="/select">
        Start<arrow-right-icon />
      </govuk-button>

      <h2 class="govuk-heading-m">If you need help using this service</h2>
      <govuk-body><a class="govuk-link" href="https://www.gov.uk/guidance/contact-the-building-safety-regulator" target="_blank">Contact us</a> if you need help with your application to register with BSR.</govuk-body>

