@import "node_modules/govuk-frontend/govuk/all";

.govuk-header__logotype-text {
  margin-left: 10px;
}

.hljs {
  background-color: transparent;
}

.govuk-checkboxes__item {
  margin-bottom: 10px !important;
}

// GOVUK-RADIO
.govuk-radio-no-margin-bottom>.govuk-radios__item {
  margin-bottom: 0px !important;
}

.govuk-error-summary__list a {
  color: #d4351c;
  cursor: pointer;
}

a.govuk-link,
a.govuk-back-link {
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1em;
}

.cursor:hover {
  cursor: pointer;
}

.govuk-link,
.govuk-link:hover {
  color: #1d70b8;
  cursor: pointer;
}

.inline-radios {
  display: flex;
  gap: 20px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.contact {
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.loading {
  padding: 30px 0;
  font-size: 20px;
  color: #1d70b8;
}

.govuk-summary-list[_ngcontent-serverApp-c73]:not(.govuk-summary-list--no-border):first-child {
  border-top: none !important;
}

.govuk-fieldset__legend--m {
  padding: 0;
}


// task list
.app-task-list__item {
  border-bottom: 1px solid #b1b4b6;
  margin-bottom: 0 !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.app-task-list__item:after {
  content: "";
  display: block;
  clear: both;
}

.app-task-list__item.firstItem {
  border-top: 1px solid #b1b4b6;
}

.app-task-list__task-name {
  display: block;
}

@media (min-width: 28.125em) {
  .app-task-list__task-name {
    float: left;
  }
}

.app-task-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 40.0625em) {
  .app-task-list {
    min-width: 550px;
  }
}

.app-task-list__section {
  display: table;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
}

@media print {
  .app-task-list__section {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__section {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

@media print {
  .app-task-list__section {
    font-size: 18pt;
    line-height: 1.15;
  }
}

.app-task-list__section-number {
  display: table-cell;
}

@media (min-width: 40.0625em) {
  .app-task-list__section-number {
    min-width: 30px;
    padding-right: 0;
  }
}

.app-task-list__items {
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-bottom: 40px;
  list-style: none;
  padding-left: 0;
}

@media print {
  .app-task-list__items {
    font-family: sans-serif;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }
}

@media print {
  .app-task-list__items {
    font-size: 14pt;
    line-height: 1.15;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    margin-bottom: 60px;
  }
}

@media (min-width: 40.0625em) {
  .app-task-list__items {
    padding-left: 30px;
  }
}

.plainText legend {
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
  font-weight: 400;
}

.smallTitle legend {
  font-size: 19px;
  font-size: 1.1875rem;
  margin-bottom: 5px;
}