<hse-address *ngIf="!queryParam"
  [addressName]="getAddressName()"
  [showOptionalAddressLineOne]="true"
  [selfAddress]="true"
  [address]="model"
  [addressBodyText]="addressBodyText"
  [title]="orgTitle"
  [orgFullName]="orgFullName"
  [searchMode]="searchMode"
  (onAddressConfirmed)="addressConfirmed($event)"
  (onChangeStep)="changeStep($event)"
>
</hse-address>

<hse-address *ngIf="queryParam"
  [addressName]="getAddressName()"
  [showOptionalAddressLineOne]="true"
  [selfAddress]="true"
  [address]="model"
  [addressBodyText]="addressBodyText"
  [title]="orgTitle"
  [orgFullName]="orgFullName"
  [searchMode]="searchMode"
  (onAddressConfirmed)="addressConfirmed($event)"
  (onChangeStep)="changeStep($event)"
  step={{step}}
  [address]="address"
>
</hse-address>
