<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl" *ngIf="loading">Loading details</h1>
      <h1 class="govuk-heading-xl" *ngIf="!loading && rbiApplication">
        {{ rbiApplication.Applicant?.ApplicantName }}
      </h1>
      <h1 class="govuk-heading-xl" *ngIf="!loading && !rbiApplication">
        No Inspector with Id {{ Id }} found
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <govuk-summary-list *ngIf="rbiApplication?.Id">
        <govuk-summary-list-row key="Registration number"
          >{{ rbiApplication?.ApplicationNumber }}
        </govuk-summary-list-row>

        <ng-template
          [ngIf]="
            rbiApplication?.Employer?.EmploymentType == 'Private' ||
            rbiApplication?.Employer?.EmploymentType == 'Public'
          "
        >
          <govuk-summary-list-row key="Employer"
            >{{
              rbiApplication?.Employer?.EmployerName == "" ||
              rbiApplication?.Employer?.EmployerName == undefined
                ? "None"
                : rbiApplication?.Employer?.EmployerName
            }}
          </govuk-summary-list-row>

          <govuk-summary-list-row
            *ngIf="rbiApplication?.Employer?.EmployerAddress"
            key="Employer address"
            >{{ rbiApplication?.Employer?.EmployerAddress | uppercase}}
          </govuk-summary-list-row>
        </ng-template>

        <ng-template
          [ngIf]="rbiApplication?.Employer?.EmploymentType == 'Unemployed'"
        >
          <govuk-summary-list-row key="Employer"
            >{{
              rbiApplication?.Employer?.EmployerName == "" ||
              rbiApplication?.Employer?.EmployerName == undefined
                ? "None"
                : rbiApplication?.Employer?.EmployerName
            }}
          </govuk-summary-list-row>

          <govuk-summary-list-row
            *ngIf="rbiApplication?.Employer?.EmployerAddress"
            key="Employer address"
            >{{ rbiApplication?.Employer?.EmployerAddress | uppercase }}
          </govuk-summary-list-row>
        </ng-template>

        <ng-template
          [ngIf]="
            rbiApplication?.Employer?.EmploymentType == 'Other' &&
            rbiApplication?.Employer?.EmployerName != ''
          "
        >
          <govuk-summary-list-row key="Business name"
            >{{
              rbiApplication?.Employer?.EmployerName == "" ||
              rbiApplication?.Employer?.EmployerName == undefined
                ? "None"
                : rbiApplication?.Employer?.EmployerName
            }}
          </govuk-summary-list-row>

          <govuk-summary-list-row
            *ngIf="rbiApplication?.Employer?.EmployerAddress"
            key="Business address"
            >{{ rbiApplication?.Employer?.EmployerAddress | uppercase }}
          </govuk-summary-list-row>
        </ng-template>

        <ng-template
          [ngIf]="
            rbiApplication?.Employer?.EmploymentType == 'Other' &&
            rbiApplication?.Employer?.EmployerName == ''
          "
        >
          <govuk-summary-list-row
            *ngIf="rbiApplication?.Employer?.EmployerAddress"
            key="Business address"
            >{{ rbiApplication?.Employer?.EmployerAddress | uppercase }}
          </govuk-summary-list-row>
        </ng-template>

        <govuk-summary-list-row key="Class"
          ><govuk-body *ngFor="let class of rbiApplication?.Classes">
            {{ this.mapClassDisplayName(class) }}
          </govuk-body>
        </govuk-summary-list-row>

        <ng-container
          *ngIf="
            !rbiApplication?.Classes?.includes(
              'Class 1 trainee building inspector'
            ) && (rbiApplication?.Classes)!.length > 0;
            then nonClass1
          "
        >
        </ng-container>

        <ng-template #nonClass1>
          <ng-container
            *ngIf="hasActivity('Assessing Plans'); then hasPlans; else noPlans"
          >
          </ng-container>

          <ng-template #noPlans>
            <govuk-summary-list-row key="Plans assessment"
              >None</govuk-summary-list-row
            >
          </ng-template>

          <ng-template #hasPlans>
            <govuk-summary-list-row key="Plans assessment"
              ><govuk-body 
                *ngFor="
                  let category of getActivity('Assessing Plans')!.Categories
                "
              >
                {{ category.CategoryName }} - {{ category.CategoryDescription }}
          </govuk-body>
            </govuk-summary-list-row>
          </ng-template>

          <ng-container
            *ngIf="
              hasActivity('Inspect');
              then hasInspection;
              else noInspection
            "
          >
          </ng-container>

          <ng-template #noInspection>
            <govuk-summary-list-row key="Inspection"
              >None</govuk-summary-list-row
            >
          </ng-template>

          <ng-template #hasInspection>
            <govuk-summary-list-row key="Inspection"
              ><govuk-body *ngFor="let category of getActivity('Inspect')!.Categories">
                {{ category.CategoryName }} - {{ category.CategoryDescription }}
              </govuk-body>
            </govuk-summary-list-row>
          </ng-template>
        </ng-template>

        <govuk-summary-list-row
          key="Conditions"
          >{{ rbiApplication?.DecisionCondition }}
        </govuk-summary-list-row>

        <govuk-summary-list-row key="Date issued"
          >{{ rbiApplication?.ValidFrom | date : "d MMMM yyyy" }}
        </govuk-summary-list-row>

        <govuk-summary-list-row key="Valid until"
          >{{ rbiApplication?.ValidTo | date : "d MMMM yyyy" }}
        </govuk-summary-list-row>
      </govuk-summary-list>
      <govuk-details summaryText="Incorrect details?">
        <govuk-body>
          If the details of this registered building inspector are incorrect, 
          <a href="https://www.gov.uk/guidance/contact-the-building-safety-regulator">contact BSR</a>.
        </govuk-body>
        <govuk-body>
          It can take a few days for details to be updated on the register.
        </govuk-body>

      </govuk-details>

      <govuk-body
        ><a
          [routerLink]="['../results']"
          [queryParams]="{
            'inspector-name': this.searchModel['inspector-name'],
            'building-control-body': this.searchModel['building-control-body'],
            'class-filter': stringifyClassFilter()
          }"
          >Return to search results</a
        ></govuk-body
      >
      <govuk-body
        ><a [routerLink]="['../']">Start a new search</a></govuk-body
      >
    </div>
  </div>
</div>
