

.govuk-pagination__item--current {
    font-weight: 700;
    outline: 1px solid #0000;
    background-color: #1d70b8;
}

.govuk-pagination__item--ellipses {
    font-weight: 700;
    color: #505a5f;
}
