<govuk-formpage
  saveAndContinueText="Send verification email"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="DuplicateApplicationCheck()"
  [hideBackButton]="false"
>
  <govuk-error-summary
    *ngIf="emailHasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-summary-error-linkable
      *ngIf="emailHasErrors"
      anchorId="applicant-email"
      message="{{ emailErrorMessage }}"
      linkText="{{ duplicateApplicationLinkText }}"
      linkUri="{{ duplicateApplicationLinkUri }}"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Your email address</h1>

  <govuk-body>
    We will email you a 6-digit code so you can verify your email address with
    us.
  </govuk-body>

  <govuk-body>
    We will use this email address if we need to contact you about your
    application, and to inform you of the outcome.
  </govuk-body>

  <govuk-body>
    If you lose access to this email address, you will have to begin your
    application again.
  </govuk-body>

  <govuk-warning
    message="Your personal email address will not be published."
    background="#0"
  ></govuk-warning>


    <govuk-hint text="Use your individual or personal email address to apply. You as an
    individual, not your organisation, will be registered as a building
    inspector."></govuk-hint>
    <govuk-hint text="You will be able to add a second email address later.">
    </govuk-hint>


  <govuk-body
    >If you do not have an email address,
    <a
      href="https://www.gov.uk/guidance/contact-the-building-safety-regulator"
      class="govuk-link"
      target="_blank"
      >contact us</a
    >
    apply to register as a building inspector.</govuk-body
  >

  <govuk-input-linkable
    id="applicant-email"
    label="Enter your email address"
    [(model)]="model!.Email"
    [maxlength]="100"
    labelClass="govuk-label--s"
    [errorText]="getErrorDescription(!modelValid, emailErrorMessage)"
    hintClass="no-margin-top"
    class="govuk-!-margin-bottom-1"
    (onKeyupEnter)="DuplicateApplicationCheck()"
    (onInputSubmit)="DuplicateApplicationCheck()"
    [linkText]="duplicateApplicationLinkText!"
    [linkUri]="duplicateApplicationLinkUri!"
  />
</govuk-formpage>
