<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Page not found</h1>

      <govuk-body>If you typed the web address, check it is correct.</govuk-body>
      <govuk-body>If you pasted the web address, check you copied the entire address.</govuk-body>
      <govuk-body>If the web address is correct or you selected a link or button:</govuk-body>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" target="_blank" class="govuk-link" tabindex="0" role="link">contact us</a> if you need to speak to someone about your application</li>
        <li><a [href]="returnToApplicationLink" class="govuk-link" tabindex="1" role="link">return to your application</a></li>
      </ul>
    </div>
  </div>
</div>