<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="false"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="!modelValid"
      anchorId="competency-assesesment-certificate-number"
      message="{{ errorMessage }}"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l" id="certificate-header">
    Your certificate number
  </h1>

  <div *ngIf="organisationPrefix == 'CABE'">
    <govuk-input
      id="certificate-number"
      hint="For example, CABE1262IJSBFAHS840"
      aria-labelledby="certificate-header"
      [maxlength]=20
      [(model)]="model!.CertificateNumber"
      >
    </govuk-input>
  </div>

  <div *ngIf="organisationPrefix == 'BSCF'">
    <govuk-input hint="For example, BSCF1262IJSBFAHS840"
      id="certificate-number"
      aria-labelledby="certificate-header"
      [maxlength]=20
      [(model)]="model!.CertificateNumber"
      >
    </govuk-input>
  </div>

</govuk-formpage>
