<a
  (click)="navigateBack()"
  (keyup.enter)="navigateBack()"
  class="govuk-back-link cursor"
  role="link"
  tabindex="0"
  #backButton
  >Back</a
>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <find-address
        *ngIf="step == 'find'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [addressBodyText]="addressBodyText"
        [searchMode]="searchMode"
        [showOptionalAddressLineOne]="showOptionalAddressLineOne"
        [searchModel]="searchModel"
        (onSearchPerformed)="searchPerformed($event)"
      />
      <select-address
        *ngIf="step == 'select'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [addressResponse]="addressResponse"
        [searchModel]="searchModel"
        [title]="title"
        (onAddressSelected)="addressSelected($event)"
        (onSearchAgain)="searchAgain()"
        (onEnterManualAddress)="enterManualAddress()"
      />
      <not-found-address
        *ngIf="step == 'not-found'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [searchModel]="searchModel"
        (onSearchAgain)="searchAgain()"
        (onEnterManualAddress)="enterManualAddress()"
      />
      <too-many-address
        *ngIf="step == 'too-many'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [searchModel]="searchModel"
        (onSearchAgain)="searchAgain()"
        (onEnterManualAddress)="enterManualAddress()"
      />
      <manual-address
        *ngIf="step == 'manual'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [searchMode]="searchMode"
        (onSearchAgain)="searchAgain()"
        (onAddressEntered)="manualAddressEntered($event)"
      />
      <confirm-address
        *ngIf="step == 'confirm'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        (onAddressConfirmed)="addressConfirmed()"
        [address]="address!"
        (onSearchAgain)="searchAgain()"
        (onEnterManualAddress)="enterManualAddress()"
      />
      <govuk-body *ngIf="addressManualyDisplayStep == 'manual'"
        ><a class="govuk-link" role="link" tabindex="0" (click)="navigateManualAddress()"
          >Enter address manually</a
        ></govuk-body
      >
    </div>
  </div>
</div>

<!-- <ng-template #homeManualAddress>
  <select-address
    *ngIf="step == 'select'"
    [addressName]="addressName"
    [selfAddress]="selfAddress"
    [addressResponse]="addressResponse"
    [searchModel]="searchModel"
    [title]="title"
    (onAddressSelected)="addressSelected($event)"
    (onSearchAgain)="searchAgain()"
    (onEnterManualAddress)="enterManualAddress()"
  />
</ng-template>

<ng-template #orgManualAddress>
  <select-address
    *ngIf="addressManualyDisplayStep == 'manual'"
    [addressName]="addressName"
    [selfAddress]="selfAddress"
    [addressResponse]="addressResponse"
    [searchModel]="searchModel"
    [title]="title"
    (onAddressSelected)="addressSelected($event)"
    (onSearchAgain)="searchAgain()"
    (onEnterManualAddress)="enterManualAddress()"
  />
</ng-template> -->

<!-- <manual-address *ngIf="step == 'manual', then homeManualAddress; else orgManualAddress" [addressName]="addressName" [selfAddress]="selfAddress" [searchMode]="searchMode"  (onSearchAgain)="searchAgain()" (onAddressEntered)="manualAddressEntered($event)" /> -->

<!-- <govuk-body><a class="govuk-link" (keyup.enter)="onEnterManualAddress.emit()" (click)="onEnterManualAddress.emit()" role="link" tabindex="0">Enter address manually</a></govuk-body> -->
