<a
  (click)="navigateBack()"
  (keyup.enter)="navigateBack()"
  class="govuk-back-link cursor"
  role="link"
  tabindex="0"
  #backButton
  >Back</a
>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <find-address
        *ngIf="step == 'find'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [addressBodyText]="addressBodyText"
        [searchMode]="searchMode"
        [showOptionalAddressLineOne]="showOptionalAddressLineOne"
        [searchModel]="searchModel"
        [isBusinessAddressSearch]="isBusinessAddressSearch"
        (onSearchPerformed)="searchPerformed($event)"
      />
      <select-address
        *ngIf="step == 'select'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [addressResponse]="addressResponse"
        [searchModel]="searchModel"
        [title]="title"
        (onAddressSelected)="addressSelected($event)"
        (onSearchAgain)="searchAgain()"
        [isBusinessAddressSearch]="isBusinessAddressSearch"
        (onEnterManualAddress)="enterManualAddress()"
      />
      <not-found-address
        *ngIf="step == 'not-found'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [searchModel]="searchModel"
        (onSearchAgain)="searchAgain()"
        [isBusinessAddressSearch]="isBusinessAddressSearch"
        (onEnterManualAddress)="enterManualAddress()"
      />
      <too-many-address
        *ngIf="step == 'too-many'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [searchModel]="searchModel"
        (onSearchAgain)="searchAgain()"
        [isBusinessAddressSearch]="isBusinessAddressSearch"
        (onEnterManualAddress)="enterManualAddress()"
      />
      <manual-address
        *ngIf="step == 'manual'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [searchMode]="searchMode"
        [title]="title"
        [addressManualyDisplayStep]="addressManualyDisplayStep"
        [orgFullName]="orgFullName"
        (onSearchAgain)="searchAgain()"
        [isBusinessAddressSearch]="isBusinessAddressSearch"
        (onAddressEntered)="manualAddressEntered($event)"
      />

      <confirm-address
        *ngIf="step == 'confirm'"
        [addressName]="addressName"
        [selfAddress]="selfAddress"
        [addressManualyDisplayStep]="addressManualyDisplayStep"
        [orgFullName]="orgFullName"
        (onAddressConfirmed)="addressConfirmed()"
        [address]="address!"
        [isBusinessAddressSearch]="isBusinessAddressSearch"
        (onSearchAgain)="searchAgain()"
        (onEnterManualAddress)="enterManualAddress()"
      />

      <govuk-body *ngIf="addressManualyDisplayStep == 'manual' && step != 'too-many'"
        ><a
          class="govuk-link"
          role="link"
          tabindex="0"
          (click)="enterManualAddress()"
          >Enter address manually</a
        ></govuk-body
      >
    </div>
  </div>
</div>
