<a (click)="navigateBack()" (keyup.enter)="navigateBack()" class="govuk-back-link cursor" role="link" tabindex="0" #backButton>Back</a>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <find-address *ngIf="step == 'find'" [addressName]="addressName" [selfAddress]="selfAddress" [addressBodyText]="addressBodyText" [searchMode]="searchMode" [showOptionalAddressLineOne]="showOptionalAddressLineOne" [searchModel]="searchModel" (onSearchPerformed)="searchPerformed($event)" />
      <select-address *ngIf="step == 'select'" [addressName]="addressName" [selfAddress]="selfAddress" [addressResponse]="addressResponse" [searchModel]="searchModel" (onAddressSelected)="addressSelected($event)" (onSearchAgain)="searchAgain()" (onEnterManualAddress)="enterManualAddress()" />
      <not-found-address *ngIf="step == 'not-found'" [addressName]="addressName" [selfAddress]="selfAddress" [searchModel]="searchModel" (onSearchAgain)="searchAgain()" (onEnterManualAddress)="enterManualAddress()" />
      <too-many-address *ngIf="step == 'too-many'" [addressName]="addressName" [selfAddress]="selfAddress" [searchModel]="searchModel" (onSearchAgain)="searchAgain()" (onEnterManualAddress)="enterManualAddress()" />
      <manual-address *ngIf="step == 'manual'" [addressName]="addressName" [selfAddress]="selfAddress" [searchMode]="searchMode"  (onSearchAgain)="searchAgain()" (onAddressEntered)="manualAddressEntered($event)" />
      <confirm-address *ngIf="step == 'confirm'" [addressName]="addressName" [selfAddress]="selfAddress" (onAddressConfirmed)="addressConfirmed()" [address]="address!" (onSearchAgain)="searchAgain()" (onEnterManualAddress)="enterManualAddress()" />
    </div>
  </div>
</div>


<ng-template #homeManualAddress>
  <manual-address *ngIf="step == 'manual'" [addressName]="addressName" [selfAddress]="selfAddress" [searchMode]="searchMode"  (onSearchAgain)="searchAgain()" (onAddressEntered)="manualAddressEntered($event)" />
</ng-template>

<ng-template #orgManualAddress>
  <manual-address *ngIf="addressOrgStep == 'manual'" [addressName]="addressName" [selfAddress]="selfAddress" [searchMode]="searchMode"  (onSearchAgain)="searchAgain()" (onAddressEntered)="manualAddressEntered($event)" />
</ng-template>


<!-- <manual-address *ngIf="step == 'manual', then homeManualAddress; else orgManualAddress" [addressName]="addressName" [selfAddress]="selfAddress" [searchMode]="searchMode"  (onSearchAgain)="searchAgain()" (onAddressEntered)="manualAddressEntered($event)" /> -->
