<h1 class="govuk-heading-l">{{getTitle()}}</h1>

<govuk-inset-text>
  <address-description [address]="address"/>
</govuk-inset-text>

<govuk-button (onClick)="confirm()">Confirm</govuk-button>
<govuk-body><a class="govuk-link" (keyup.enter)="onSearchAgain.emit()" (click)="onSearchAgain.emit()" role="link" tabindex="0">Search again</a></govuk-body>
<govuk-body><a class="govuk-link" (keyup.enter)="onEnterManualAddress.emit()" (click)="onEnterManualAddress.emit()" role="link" tabindex="0">Enter address manually</a></govuk-body>
