
<div class="govuk-form-group">

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="!addressOneIsValid || !townOrCityIsValid || !model.Postcode" anchorId="{{anchorId}}" message="Enter home address details" />
    <govuk-error-link *ngIf="!!model.Postcode && !postcodeIsValid" anchorId="input-postcode" message="{{postcodeErrorMessage}}" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">{{getTitle()}}</h1>
  <govuk-warning message="{{warningMessage()}}" background="#0" />

  <govuk-body>{{addressTypeDescription()}}</govuk-body>
  <govuk-input id="address-line-one" label="Address line 1"
               [(model)]="model.Address"
               [errorText]="getErrorDescription(!addressOneIsValid, 'Enter the first line of the address')"
               class="govuk-!-margin-bottom-5"
               (onKeyupEnter)="confirmAddress()" />

  <govuk-input id="address-line-two" label="Address line 2 (optional)"
               [(model)]="model.AddressLineTwo"
               class="govuk-!-margin-bottom-5"
               (onKeyupEnter)="confirmAddress()" />

  <govuk-input id="town-or-city" label="Town or city"
               [(model)]="model.Town"
               [errorText]="getErrorDescription(!townOrCityIsValid, 'Enter a town or city')"
               class="govuk-!-margin-bottom-5 govuk-!-width-two-thirds"
               (onKeyupEnter)="confirmAddress()" />

  <govuk-input id="postcode" label="Postcode"
               [(model)]="model.Postcode"
               [errorText]="getErrorDescription(!postcodeIsValid, postcodeErrorMessage!)"
               class="govuk-!-margin-bottom-1 govuk-input--width-10"
               (onKeyupEnter)="confirmAddress()" />
</div>

<govuk-button (onClick)="confirmAddress()">Confirm address</govuk-button>
<govuk-body><a class="govuk-link" (click)="onSearchAgain.emit()" (keyup.enter)="onSearchAgain.emit()" tabindex="0" role="link">Search again</a></govuk-body>
