<div class="govuk-form-group">

  <govuk-error-summary *ngIf="addressHasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="address-0-input" message="Select an address" />
  </govuk-error-summary>

  <govuk-radio-group [title]="getTitle()" [isPageHeading]=true [(model)]="selectedAddress" id="radios-addresses" [errorText]="getErrorDescription(addressHasErrors, 'Select an address.')">
    <govuk-body>{{addressResponse?.Results?.length}} {{(addressResponse?.Results?.length ?? 0) > 1 ? "addresses" : "address"}} found for <b>{{ searchModel.postcode }}</b>.</govuk-body>

    <govuk-radio *ngFor="let item of addressResponse?.Results; let i = index" (onKeyupEnter)="continue()" name="application-group" id="address-{{i}}" [value]="item" label="{{ item.Address }}" />
  </govuk-radio-group>
</div>

<govuk-button (onClick)="continue()">Save and continue</govuk-button>
<govuk-body><a class="govuk-link" (keyup.enter)="onSearchAgain.emit()" (click)="onSearchAgain.emit()" role="link" tabindex="0">Search again</a></govuk-body>
<govuk-body><a class="govuk-link" (keyup.enter)="onEnterManualAddress.emit()" (click)="onEnterManualAddress.emit()" role="link" tabindex="0">Enter address manually</a></govuk-body>