<div class="govuk-form-group">

  <h1 class="govuk-heading-l">Too many results</h1>

  <govuk-body>Too many results were found for <b>{{ searchModel.postcode }}</b></govuk-body>

  <govuk-body>
    You can either <a class="govuk-link"  (keyup.enter)="onSearchAgain.emit()" (click)="onSearchAgain.emit()" role="link" tabindex="0">search again</a> or
    <a class="govuk-link"  (keyup.enter)="onEnterManualAddress.emit()" (click)="onEnterManualAddress.emit()" role="link" tabindex="0">enter address manually</a>.
  </govuk-body>
</div>
