


<govuk-formpage
  saveAndContinueText="Continue"
  [hideSaveAndComeBack]="false"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
  id="professional-confirmation-membership-removal"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="!modelValid"
      anchorId="class-technical-manager"
      message="{{ errorMessage }}"
    />
  </govuk-error-summary>
  <h1 class="govuk-heading-l">
    Are you sure you want to remove {{PROFESSIONAL_BODY_ORG_NAME}} membership from your
    application?
  </h1>
  <govuk-body>
    <govuk-radio-group
      hintText=" "
      [errorText]="errorMessage"
      id="professional-body-membership"
      [(model)]="model!.RemoveOptionSelected"
    >
      <govuk-radio
        class=""
        label="Yes"
        value="yes"
        id="yes"
        [model]="model!.RemoveOptionSelected"
      >
      </govuk-radio>
      <govuk-radio
        label="No"
        value="no"
        id="no"
        [model]="model!.RemoveOptionSelected"
      ></govuk-radio>
    </govuk-radio-group>
  </govuk-body>
</govuk-formpage>
