
<govuk-back-link *ngIf="!production">Back</govuk-back-link>

<div class="govuk-main-wrapper" id="main-content">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      <h1 class="govuk-heading-xl">Register as a building inspector</h1>
      <ng-container *ngIf="!model!.ReturningApplication">
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Returning to this application</h2>
        <govuk-body>We will save your information for each page you complete.</govuk-body>

        <govuk-warning message="We have sent your application number and instructions on how to return to {{model!.PersonalDetails!.ApplicantEmail}}" background="#0"></govuk-warning>

      </ng-container>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1.</span>
            Personal details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item firstItem">
              <span class="app-task-list__task-name">
                <a task class="govuk-link" (keyup.enter)="navigateToApplicantName()" (click)="navigateToApplicantName()" tabindex="0" role="link">Name</a>
              </span>
                <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PhoneVerified" class="govuk-tag--grey">NOT STARTED</govuk-tag>
                <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task>Email address</span>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PhoneVerified" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task>Telephone number</span>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PhoneVerified" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.PhoneVerified">Date of birth</span>
                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified" class="govuk-link" (keyup.enter)="navigateToPersonalDetailsDateOfBirth()" (click)="navigateToPersonalDetailsDateOfBirth()" tabindex="0" role="link">Date of birth</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li> -->

            <hse-task-list-item
              title="Date of birth"
              [canStart]="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified"
              (navigate)="navigateToPersonalDetailsDateOfBirth()"
              [isComplete]="checkKeyExistsAndNotNull(model!.PersonalDetails, 'ApplicantDateOfBirth')"
            >
            </hse-task-list-item>


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete">Home address</span>
                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-link" (keyup.enter)="navigateToSummary()" (click)="navigateToSummary()" tabindex="0" role="link">Home address</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete">Telephone number</span>

                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-link" (keyup.enter)="navigateToSummary()" (click)="navigateToSummary()" tabindex="0" role="link">Telephone number</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <!-- <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.PhoneVerified">Alterenative email address</span>
                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified" class="govuk-link" (keyup.enter)="navigateToPersonalDetailsAlternativeEmailAddress()" (click)="navigateToPersonalDetailsAlternativeEmailAddress()" tabindex="0" role="link">Alternative email address</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li> -->

            <hse-task-list-item
              title="Alternative email address"
              [canStart]="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified"
              (navigate)="navigateToPersonalDetailsAlternativeEmailAddress()"
              [isComplete]="checkKeyExistsAndNotNull(model!.PersonalDetails, 'ApplicantAlternativeEmail')"
            >
            </hse-task-list-item>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.PhoneVerified">Alternative telephone number</span>
                  <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified" class="govuk-link" (keyup.enter)="navigateToPersonalDetailsAlternativePhone()"
                    (click)="navigateToPersonalDetailsAlternativePhone()" tabindex="0" role="link"
                  >
                    Alternative telephone number
                  </a>
                </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.PhoneVerified">National Insurance number</span>

                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.PhoneVerified" class="govuk-link" (keyup.enter)="navigateToNationalInsuranceNumber()" (click)="navigateToNationalInsuranceNumber()" tabindex="0" role="link">National Insurance number</a>
              </span>
              <govuk-tag tag *ngIf="isNullOrEmpty(model!.PersonalDetails!.ApplicantNationalInsuranceNumber)" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="!isNullOrEmpty(model!.PersonalDetails!.ApplicantNationalInsuranceNumber)" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-link" (keyup.enter)="navigateToSummaryPage()" (click)="navigateToSummaryPage()" tabindex="0" role="link">Summary</a>
              </span>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2.</span>
            Building inspector class
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item firstItem">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete">Class selection</span>
                <a task *ngIf="model!.ApplicationStatus >= ApplicationStatus.PersonalDetailsComplete" class="govuk-link" (keyup.enter)="navigateToBuildingInspectorClass()" (click)="navigateToBuildingInspectorClass()" tabindex="0" role="link">Class selection</a>
              </span>
                <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
                <govuk-tag tag *ngIf="model!.ApplicationStatus == ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
                <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus <= ApplicationStatus.PersonalDetailsComplete">Class details</span>
                <a task *ngIf="model!.ApplicationStatus >= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-link" (keyup.enter)="navigateToBuildingInspectorClass()" (click)="navigateToBuildingInspectorClass()" tabindex="0" role="link">Class details</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus <= ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus <= ApplicationStatus.PersonalDetailsComplete">Country</span>
                <a task *ngIf="model!.ApplicationStatus >= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-link" (keyup.enter)="navigateToBuildingInspectorClass()" (click)="navigateToBuildingInspectorClass()" tabindex="0" role="link">Country</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus <= ApplicationStatus.PersonalDetailsComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li *ngIf="model!.ApplicationStatus >= ApplicationStatus.BuildingInspectorClassComplete" class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-link" (keyup.enter)="navigateToBuildingInspectorClass()" (click)="navigateToBuildingInspectorClass()" tabindex="0" role="link">Summary</a>
              </span>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3.</span>
            Competency
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item firstItem">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.BuildingInspectorClassComplete">Independent assessment</span>
                <a task *ngIf="model!.ApplicationStatus >= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-link" (keyup.enter)="navigateToCompetency()" (click)="navigateToCompetency()" tabindex="0" role="link">Independent assessment</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.BuildingInspectorClassComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus == ApplicationStatus.BuildingInspectorClassComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>


            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus <= ApplicationStatus.BuildingInspectorClassComplete">Certificate code</span>
                <a task *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="govuk-link" (keyup.enter)="navigateToCompetency()" (click)="navigateToCompetency()" tabindex="0" role="link">Certificate code</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus <= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus <= ApplicationStatus.BuildingInspectorClassComplete">Assessment organisation</span>
                <a task *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="govuk-link" (keyup.enter)="navigateToCompetency()" (click)="navigateToCompetency()" tabindex="0" role="link">Assessment organisation</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus <= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus <= ApplicationStatus.BuildingInspectorClassComplete">Date of assessment</span>
                <a task *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="govuk-link" (keyup.enter)="navigateToCompetency()" (click)="navigateToCompetency()" tabindex="0" role="link">Date of assessment</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus <= ApplicationStatus.BuildingInspectorClassComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.CompetencyComplete" class="govuk-link" (keyup.enter)="navigateToCompetency()" (click)="navigateToCompetency()" tabindex="0" role="link">Summary</a>
              </span>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4.</span>
            Professional Activity
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item firstItem">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.CompetencyComplete">Professional body membership</span>
                <a task class="govuk-link" *ngIf="model!.ApplicationStatus == ApplicationStatus.CompetencyComplete" (keyup.enter)="navigateToProfessionalActivity()" (click)="navigateToProfessionalActivity()" tabindex="0" role="link">Professional body membership</a>
                <a task class="govuk-link" *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" (keyup.enter)="navigateToProfessionalActivity()" (click)="navigateToProfessionalActivity()" tabindex="0" role="link">Professional body membership</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.CompetencyComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus == ApplicationStatus.CompetencyComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus <= ApplicationStatus.CompetencyComplete">Employment type</span>
                <a task class="govuk-link" *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete"(keyup.enter)="navigateToProfessionalActivity()" (click)="navigateToProfessionalActivity()" tabindex="0" role="link">Employment type</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus <= ApplicationStatus.CompetencyComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus <= ApplicationStatus.CompetencyComplete">Employment details</span>
                <a task class="govuk-link" *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" (keyup.enter)="navigateToProfessionalActivity()" (click)="navigateToProfessionalActivity()" tabindex="0" role="link">Employment details</a>
              </span>
              <govuk-tag tag *ngIf="model!.ApplicationStatus <= ApplicationStatus.CompetencyComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>

            <li *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a task  *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" class="govuk-link" (keyup.enter)="navigateToProfessionalActivity()" (click)="navigateToProfessionalActivity()" tabindex="0" role="link">Summary</a>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5.</span>
            Application overview
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item firstItem">
              <span class="app-task-list__task-name">
                <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.ProfessionalActivityComplete">Application summary</span>
                <a task *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" class="govuk-link" (keyup.enter)="navigateToApplicationOverview()" (click)="navigateToApplicationOverview()" tabindex="0" role="link">Application summary</a>
              </span>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <!-- <span task *ngIf="model!.ApplicationStatus < ApplicationStatus.ProfessionalActivityComplete">Pay your fee and submit your application</span> -->
                <!-- <a task class="govuk-link" *ngIf="model!.ApplicationStatus >= ApplicationStatus.ProfessionalActivityComplete" (keyup.enter)="navigateToPayAndSubmit()" (click)="navigateToPayAndSubmit()" tabindex="0" role="link">Pay your fee and submit your application</a> -->
                <a task class="govuk-link" (keyup.enter)="navigateToPayAndSubmit()" (click)="navigateToPayAndSubmit()" tabindex="0" role="link">Pay your fee and submit your application</a>
              </span>
              <!-- <govuk-tag tag *ngIf="model!.ApplicationStatus < ApplicationStatus.ApplicationSubmissionComplete" class="govuk-tag--grey">CANNOT START YET</govuk-tag> -->
              <!-- <govuk-tag tag *ngIf="model!.ApplicationStatus == ApplicationStatus.ApplicationSubmissionComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag> -->
              <govuk-tag tag *ngIf="model!.ApplicationStatus != ApplicationStatus.PaymentComplete" class="govuk-tag--grey">NOT STARTED</govuk-tag>
              <govuk-tag tag *ngIf="model!.ApplicationStatus >= ApplicationStatus.PaymentComplete" class="govuk-tag--darkblue">COMPLETE</govuk-tag>
            </li>
          </ul>
        </li>

      </ol>

      <govuk-body>After you have paid your fee and applied, we will be in touch. You may be asked for additional information.</govuk-body>

    </div>
  </div>
</div>
