<govuk-back-link *ngIf="!production">Back</govuk-back-link>

<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="saveAndContinue()"
  [hideBackButton]="true"
>
  <govuk-body>
    <h1 class="govuk-heading-l">
      Check your {{ PROFESSIONAL_BODY_ORG_NAME }} membership details
    </h1>

    <govuk-summary-list>
      <govuk-summary-list-row
        key="Membership number"
        [showAction]="true"
        (onClick)="changeMembershipDetails()"
        (onKeyupEnter)="changeMembershipDetails()"
        >{{ getMembershipNumber() }}
      </govuk-summary-list-row>

      <govuk-summary-list-row
        key="Membership Type"
        [showAction]="true"
        (onClick)="changeMembershipDetails()"
        (onKeyupEnter)="changeMembershipDetails()"
        >{{ getMembershipLevel() }}
      </govuk-summary-list-row>

      <govuk-summary-list-row
        key="Year"
        [showAction]="true"
        (onClick)="changeMembershipDetails()"
        (onKeyupEnter)="changeMembershipDetails()"
        >{{ getMembershipYear() }}
      </govuk-summary-list-row>
    </govuk-summary-list>
  </govuk-body>
</govuk-formpage>

