{{this.model | json}}

<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="false"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
>
  <govuk-body>
    <h1 class="govuk-heading-l">
      Check your {{ PROFESSIONAL_BODY_ORG_NAME }} membership details
    </h1>

    <govuk-summary-list>
      <govuk-summary-list-row
        key="Membership number"
        [showAction]="true"
        (onClick)="changeMembershipDetails()"
        (onKeyupEnter)="changeMembershipDetails()"
        >{{ model?.MembershipNumber}}
      </govuk-summary-list-row>

      <govuk-summary-list-row
        key="Membership level"
        [showAction]="true"
        (onClick)="changeMembershipDetails()"
        (onKeyupEnter)="changeMembershipDetails()"
        >{{ model?.MembershipLevel }}
      </govuk-summary-list-row>

      <govuk-summary-list-row
        key="Year"
        [showAction]="true"
        (onClick)="changeMembershipDetails()"
        (onKeyupEnter)="changeMembershipDetails()"
        >{{ model?.MembershipYear }}
      </govuk-summary-list-row>
    </govuk-summary-list>
  </govuk-body>
</govuk-formpage>

