<govuk-breadcrumb-group>
  <govuk-breadcrumb text="Home" link="https://www.gov.uk/" [firstChild]=true></govuk-breadcrumb>
</govuk-breadcrumb-group>

<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Accessibility statement for Register a high-rise building</h1>
      <govuk-body>This service is part of the wider Health and Safety Executive (HSE) website. There’s a separate <a href="https://www.hse.gov.uk/accessibility.htm" class="govuk-link" tabindex="0" role="link">accessibility statement for the main HSE website</a>.</govuk-body>
      <govuk-body>This statement only applies to the Register a high-rise building service, available at register-high-rise-building.hse.gov.uk.</govuk-body>

      <h2 class="govuk-heading-m">Using this service</h2>
      <govuk-body>This service is run by the Health and Safety Executive as Building Safety Regulator for England. We want as many people as possible to be able to use this service. For example, that means you should be able to:</govuk-body>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="change colours, contrast levels and fonts" />
        <govuk-list-item text="zoom in up to 300% without the text spilling off the screen" />
        <govuk-list-item text="get from the start of the service to the end using just a keyboard" />
        <govuk-list-item text="get from the start of the service to the end using speech recognition software" />
        <govuk-list-item text="listen to the service using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)" />
      </govuk-list>

      <govuk-body>We’ve also made the text in the service as simple as possible to understand.</govuk-body>
      <govuk-body><a href="https://mcmw.abilitynet.org.uk/" class="govuk-link" tabindex="0" role="link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</govuk-body>

      <h2 class="govuk-heading-m">How accessible this service is</h2>
      <govuk-body>This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" role="link" tabindex="0">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</govuk-body>

      <h2 class="govuk-heading-m">Feedback and contact information</h2>

      <govuk-body>If you have difficulty using this service, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" class="govuk-link" tabindex="0" role="link">contact us</a>.</govuk-body>
      <govuk-body>As part of providing this service, we may need to send you messages or documents. We’ll ask you how you want us to send messages or documents to you, but contact us if you need them in a different format. For example large print, audio recording or braille.</govuk-body>

      <h2 class="govuk-heading-m">Reporting accessibility problems with this service</h2>

      <govuk-body>We’re always looking to improve the accessibility of this service. If you find any problems that are not listed on this page or think we’re not meeting accessibility requirements, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" class="govuk-link" tabindex="0" role="link">contact us</a>.</govuk-body>

      <h2 class="govuk-heading-m">Enforcement procedure</h2>

      <govuk-body>The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" class="govuk-link" tabindex="0" role="link">contact the Equality Advisory and Support Service (EASS)</a>.</govuk-body>

      <h2 class="govuk-heading-m">Technical information about this service’s accessibility</h2>

      <govuk-body>The Building Safety Regulator is committed to making this service accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</govuk-body>

      <h2 class="govuk-heading-s">Compliance status</h2>

      <govuk-body>This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link" tabindex="0" role="link">Web Content Accessibility Guidelines version 2.1 AA standard</a>.</govuk-body>
      
      <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>

      <govuk-body>This statement was prepared on 20 March 2023. It was last reviewed on 6 April 2023.</govuk-body>
      <govuk-body>This website was last tested on 6 April 2023. The test was carried out by Dig Inclusion.</govuk-body>
      
    </div>

  </div>
</div>
