<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your unsaved answers have been deleted</h1>

      <govuk-body>We have deleted your unsaved answers because you did not do anything for 15 minutes. This is to protect your information.</govuk-body>
      <govuk-body>
        If we sent you an email with an application reference, you can
        <a href="/returning-application" class="govuk-link" role="link">return to your application</a>. If not, you will need to
        <a href="/select" class="govuk-link" role="link">start again</a>.
      </govuk-body>
      
    </div>
  </div>
</div>
