<govuk-breadcrumb-group>
  <govuk-breadcrumb text="Home" link="https://www.gov.uk/" [firstChild]=true></govuk-breadcrumb>
</govuk-breadcrumb-group>

<div class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <div *ngIf="updatedCookiesBanner" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
            You’ve set your cookie preferences. <a class="govuk-notification-banner__link" href="javascript:history.back()">Go back to the page you were looking at</a>.
          </p>
        </div>
      </div>
      
      <h1 class="govuk-heading-xl">Cookies on Find a registered building inspector</h1>

      <govuk-body>Cookies are small files saved on your phone, tablet or computer when you visit a website.</govuk-body>

      <govuk-body>We use cookies to:</govuk-body>
      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="make the service work" />
        <govuk-list-item text="collect information about how you use our service" />
      </govuk-list>

      <h2 class="govuk-heading-m">Essential cookies</h2>

      <govuk-body>Essential cookies keep your information secure while you use our service. We do not need to ask permission to use them.</govuk-body>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">nonEsentialCookies</td>
            <td class="govuk-table__cell">Saves your cookie consent settings</td>
            <td class="govuk-table__cell">1 year</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">application_data</td>
            <td class="govuk-table__cell">Browser local storage</td>
            <td class="govuk-table__cell">User session</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Analytics cookies (optional)</h2>
      <govuk-body>With your permission, we use Google Analytics to collect data about how you use our service. This information helps us to improve our service.</govuk-body>
      <govuk-body>Google is not allowed to use or share our analytics data with anyone.</govuk-body>
      <govuk-body>Google Analytics stores anonymised information about:</govuk-body>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="how you got to Find a registered building inspector" />
        <govuk-list-item text="the pages you visit on the service and how long you spend on them" />
        <govuk-list-item text="any errors you see while using the service" />
      </govuk-list>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga</td>
            <td class="govuk-table__cell">Checks which pages you've visited on Find a registered building inspector. This helps us work out how people use our service.</td>
            <td class="govuk-table__cell">2 years</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga_#</td>
            <td class="govuk-table__cell">Checks if you've visited Find a registered building inspector before and when. This helps us count how many people visit our service.</td>
            <td class="govuk-table__cell">1 year</td>
          </tr>
        </tbody>
      </table>

      <govuk-body>
        With your permission, we use Microsoft Clarity to collect data about how you use our service. This information helps us to improve our service. 
      </govuk-body>

      <govuk-body>
        Microsoft is not allowed to use or share our analytics data with anyone. 
      </govuk-body>

      <govuk-body>
        Microsoft Clarity stores anonymised information about: 
      </govuk-body>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="how you got to Find a registered building inspector" />
        <govuk-list-item text="the pages you visit on the service and how long you spend on them" />
        <govuk-list-item text="any errors you see while using the service" />
        <govuk-list-item text="any fields, links or buttons you click on while using our service" />
      </govuk-list>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Purpose</th>
            <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_clck</td>
            <td class="govuk-table__cell">Checks if you’ve visited Find a registered building inspector before. This helps us count how many people return to our service.	13 months</td>
            <td class="govuk-table__cell">13 months</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">_clsk</td>
            <td class="govuk-table__cell">Checks if you’ve visited Find a registered building inspector before. This helps us count how many people visit our service.</td>
            <td class="govuk-table__cell">1 year</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">CLID</td>
            <td class="govuk-table__cell">Identifies the first time you visited Find a registered building inspector. This helps us count how many people visit and return to our service.</td>
            <td class="govuk-table__cell">13 months</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MUID</td>
            <td class="govuk-table__cell">Identifies unique web browsers visiting Microsoft sites. Microsoft uses these cookies for advertising, site analytics, and other operational purposes.</td>
            <td class="govuk-table__cell">13 months</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">ANONCHK</td>
            <td class="govuk-table__cell">Indicates whether MUID is transferred to ANID, a cookie used for advertising. Microsoft Clarity does not use ANID and so this is always set to 0.</td>
            <td class="govuk-table__cell">13 months</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">MR</td>
            <td class="govuk-table__cell">Indicates whether to refresh MUID.</td>
            <td class="govuk-table__cell">13 months</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">SM</td>
            <td class="govuk-table__cell">Microsoft uses this to synchronise the MUID across Microsoft domains.</td>
            <td class="govuk-table__cell">13 months</td>
          </tr>
        </tbody>
      </table>

      <govuk-radio-group title="Do you want to accept analytics cookies?" class="govuk-!-margin-bottom-4" [(model)]="cookieModel" id="radios-cookie-selection"
        [errorText]="errorMessage"
      >
        <govuk-radio 
          name="cookies"
          id="cookies-yes"
          [value]="'true'"
          label="Yes"
          (onKeyupEnter)="saveCookieSettings()"
          [model]="cookieModel"
        />
        <govuk-radio 
          name="cookies"
          id="cookies-no"
          [value]="'false'"
          label="No"
          (onKeyupEnter)="saveCookieSettings()"
          [model]="cookieModel"
        />
      </govuk-radio-group>

      <govuk-button (onClick)="saveCookieSettings()">Save cookie settings</govuk-button>

    </div>

  </div>
</div>