<govuk-back-link *ngIf="!production">Back</govuk-back-link>

<govuk-formpage
  saveAndContinueText="Continue"
  [hideSaveAndComeBack]="false"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="true"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="!modelValid"
      anchorId="Yes-input"
      message="{{ errorMessage }}"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">
    Competency assessment certificate
  </h1>

  <govuk-body>
    <p>
      To do BSR-regulated activities unsupervised, you must have passed a BSR-approved competency assessment for the class you want to register for.
    </p>

    <p>Assessment is done by BSR-approved providers:</p>

    <govuk-list classes="govuk-list--bullet">
      <govuk-list-item text="Building Safety Competence Foundation (BSCF)" />
      <govuk-list-item
        text="Chartered Association of Building Engineers (CABE)"
      />
    </govuk-list>

    <p>
      If you have not passed assessment, you can still complete your registration, but you will be registered as a class 1 building inspector. You will not be able to do BSR-regulated building control activities without supervision after April 2024.
    </p>

    <p>You can request to change your class of registration when you have completed a relevant competency assessment.</p>

    <govuk-body class="govuk-!-font-weight-bold">
      Do you have a valid certificate from a BSR-approved competency assessment provider?
    </govuk-body>

    <govuk-radio-group
      hintText=" "
      [errorText]=errorMessage
      id="independent-assessment-status"
      [(model)]="selectedOption"
      class="govuk-radios--inline"
    >
      <govuk-radio
        class=""
        label="Yes"
        value="yes"
        id="yes"
        [model]="selectedOption"
      >
      </govuk-radio>
      <govuk-radio
        label="No"
        value="no"
        id="no"
        [model]="selectedOption"
      ></govuk-radio>
    </govuk-radio-group>
  </govuk-body>
</govuk-formpage>
