<govuk-formpage
  saveAndContinueText="Continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="SyncAndContinue()"
  [hideBackButton]="false"
>
  <govuk-body>
    <h1 class="govuk-heading-l">
      Summary of your professional memberships and employment
    </h1>

    <govuk-summary-list>
      <govuk-summary-list-row *ngIf="getProfessionalBodyMemberships()[0] != 'None'"
        [actionText]="'change'"
        class="govuk-summary-list__key"
        (onClick)="navigateTo('professional-body-membership-summary')"
        (onKeyupEnter)="navigateTo('professional-body-membership-summary')"
        key="Membership of professional bodies"
        actionDetails="Membership of professional bodies"
        [showAction]="true"
      >
        <div
          *ngFor="let membership of getProfessionalBodyMemberships()"

        >
          <govuk-body>{{ membership }}</govuk-body>
      </div>
      </govuk-summary-list-row>

      <govuk-summary-list-row *ngIf="getProfessionalBodyMemberships()[0] == 'None'"
      [actionText]="'change'"
      class="govuk-summary-list__key"
      (onClick)="navigateTo('professional-body-memberships')"
      (onKeyupEnter)="navigateTo('professional-body-memberships')"
      key="Membership of professional bodies"
      actionDetails="Membership of professional bodies"
      [showAction]="true"
    >
      <div
        *ngFor="let membership of getProfessionalBodyMemberships()"
      >
        <govuk-body>{{ membership }}</govuk-body>
    </div>
    </govuk-summary-list-row>



      <govuk-summary-list-row
      [actionText]="'change'"
        (onClick)="navigateTo('professional-activity-employment-type')"
        (onKeyupEnter)="navigateTo('professional-activity-employment-type')"
        key="Employment type"
        actionDetails="Employment type"
        [showAction]="true"
      >
        <dd class="govuk-summary-list__value">{{ getEmploymentTypeName() }}</dd>
      </govuk-summary-list-row>

      <govuk-summary-list-row *ngIf="!isUnemployed() && getEmploymentType() == 1"
      [actionText]="'change'"

        (onClick)="navigateTo('employment-public-sector-body-name')"
        (onKeyupEnter)="navigateTo('employment-public-sector-body-name')"
        key="{{ getEmploymentTypeTitle() }}"
        actionDetails="{{ getEmploymentTypeTitle() }}"
        [showAction]="true"
      >
        <dd class="govuk-summary-list__value">{{ getEmployerName() }}</dd>
      </govuk-summary-list-row>


      <govuk-summary-list-row *ngIf="!isUnemployed() && getEmploymentType() == 2"
      [actionText]="'change'"

        (onClick)="navigateTo('employment-private-sector-body-name')"
        (onKeyupEnter)="navigateTo('employment-private-sector-body-name')"
        key="{{ getEmploymentTypeTitle() }}"
        actionDetails="{{ getEmploymentTypeTitle() }}"
        [showAction]="true"
      >
        <dd class="govuk-summary-list__value">{{ getEmployerName() }}</dd>
      </govuk-summary-list-row>


      <govuk-summary-list-row *ngIf="!isUnemployed() && getEmploymentType() == 3"
      [actionText]="'change'"

        (onClick)="navigateTo('employment-other-name')"
        (onKeyupEnter)="navigateTo('employment-other-name')"
        key="{{ getEmploymentTypeTitle() }}"
        actionDetails="{{ getEmploymentTypeTitle() }}"
        [showAction]="true"
      >
        <dd class="govuk-summary-list__value">{{ getEmployerName() }}</dd>
      </govuk-summary-list-row>


      <govuk-summary-list-row *ngIf="!isUnemployed()"
      [actionText]="'change'"

        (onClick)="navigateTo('search-empoloyment-org-address')"
        (onKeyupEnter)="navigateTo('search-empoloyment-org-address')"
        key="{{ getEmploymentAddressTitle() }}"
        actionDetails="{{ getEmploymentAddressTitle() }}"
        [showAction]="true"
      >
        <div>
          <div
            *ngIf="
              applicationService.model.ProfessionalActivity?.EmploymentDetails
                ?.EmployerAddress
            "
          >
            {{
              applicationService.model.ProfessionalActivity.EmploymentDetails
                ?.EmployerAddress?.Address
            }}
          </div>
          <div
            *ngIf="
              applicationService.model.ProfessionalActivity?.EmploymentDetails
                ?.EmployerAddress?.AddressLineTwo
            "
          >
            {{
              applicationService.model.ProfessionalActivity.EmploymentDetails
                ?.EmployerAddress?.AddressLineTwo
            }}
          </div>
          <div
            *ngIf="
              applicationService.model.ProfessionalActivity?.EmploymentDetails
                ?.EmployerAddress?.Town
            "
          >
            {{
              applicationService.model.ProfessionalActivity.EmploymentDetails
                ?.EmployerAddress?.Town
            }}
          </div>
          <div
            *ngIf="
              applicationService.model.ProfessionalActivity?.EmploymentDetails
                ?.EmployerAddress?.Postcode
            "
          >
            {{
              applicationService.model.ProfessionalActivity.EmploymentDetails
                ?.EmployerAddress?.Postcode
            }}
          </div>
        </div></govuk-summary-list-row
      >
    </govuk-summary-list>
  </govuk-body>
</govuk-formpage>
