


<govuk-formpage
  saveAndContinueText="Continue"
  [hideSaveAndComeBack]="false"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="!modelValid"
      anchorId="class-technical-manager"
      message="{{ errorMessage }}"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Membership of professional bodies</h1>
  <govuk-body>
    For example, Royal Institution of Chartered Surveyors (RICS), Chartered
    Association of Building Engineers (CABE), Chartered Institute of Building
    (CIOB).
    <p>
      For each membership we will ask you for:
    </p>

    <govuk-list classes="govuk-list--bullet">
      <govuk-list-item text="membership number" />
      <govuk-list-item text="current membership level" />
      <govuk-list-item
        text="the year you obtained your current membership level"
      />
    </govuk-list>

    <govuk-warning message="Your professional membership details will not be published on the register." background="#0"></govuk-warning>


    <h2 class="govuk-heading-m">
      Are you a member of a professional body relevant to your work as a
      building inspector?
    </h2>

    <govuk-radio-group
      hintText=" "
      [errorText]=errorMessage
      id="professional-body-membership"
      [(model)]="model!.IsProfessionBodyRelevantYesNo"
    >
      <govuk-radio
        class=""
        label="Yes"
        value="yes"
        id="yes"
        [model]="model!.IsProfessionBodyRelevantYesNo"
      >
      </govuk-radio>
      <govuk-radio
        label="No"
        value="no"
        id="no"
        [model]="model!.IsProfessionBodyRelevantYesNo"
      ></govuk-radio>
    </govuk-radio-group>
  </govuk-body>
</govuk-formpage>
