<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="saveAndContinue()"
  [hideBackButton]="false"
>
  <govuk-error-summary
    *ngIf="selectedOptionError"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="selectedOptionError"
      anchorId="chkbox-ib-class2-category-selection"
      [message]="errorText"
    />
  </govuk-error-summary>
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">Class 2 building inspector</span>
    Inspection: which category of buildings are you competent to inspect?
  </h1>

  <govuk-body>
    Competent to inspect means you can inspect buildings to ensure they comply with submitted, assessed plans and associated information, and comply with building regulations.
    <br />
    <br />
    <govuk-warning message="Your category will be published on the register." background="#0"></govuk-warning>
    To register as a class 4 technical manager you must be competent to do all BSR regulated activities (for example, assessing plans and inspections) for all categories of class 2 or class 3 building inspectors.
    <br />
    <br />

    <govuk-checkbox-group
      [title]=""
      [hint]="hint"
      [errorText]="errorText"
      [(model)]="selections"
      id="category-selection"
      #field
      [govukRequired]="field"
    >
      <govuk-checkbox
        #checkbox
        (onKeyupEnter)="onKeyupEnter.emit()"
        id="cata"
        [model]="selections"
        text="Category A"
        value="CategoryA"
        (onClicked)="optionClicked()"
        hint="Residential dwelling houses (single household) less than 7.5m in height"
      />
      <govuk-checkbox
        #checkbox
        (onKeyupEnter)="onKeyupEnter.emit()"
        [model]="selections"
        text="Category B"
        value="CategoryB"
        (onClicked)="optionClicked()"
        id="catb"
        hint="Residential flats and dwelling houses, less than 11m in height"
      />
      <govuk-checkbox
        #checkbox
        (onKeyupEnter)="onKeyupEnter.emit()"
        [model]="selections"
        text="Category C"
        value="CategoryC"
        (onClicked)="optionClicked()"
        id="catc"
        hint="Residential flats and dwelling houses, 11m or more but less than 18m in height"
      />
      <govuk-checkbox
        #checkbox
        (onKeyupEnter)="onKeyupEnter.emit()"
        [model]="selections"
        text="Category D"
        value="CategoryD"
        (onClicked)="optionClicked()"
        id="catd"
        hint="All building types and uses less than 7.5m in height"
      />
      <govuk-checkbox
        #checkbox
        (onKeyupEnter)="onKeyupEnter.emit()"
        [model]="selections"
        text="Category E"
        value="CategoryE"
        (onClicked)="optionClicked()"
        id="cate"
        hint="All building types 7.5m or more but less than 11m in height"
      />
      <govuk-checkbox
        #checkbox
        (onKeyupEnter)="onKeyupEnter.emit()"
        [model]="selections"
        text="Category F"
        value="CategoryF"
        (onClicked)="optionClicked()"
        id="catf"
        hint="All building types 11m or more but less than 18m in height"
      />
    </govuk-checkbox-group>
  </govuk-body>
</govuk-formpage>
