<govuk-summary-list *ngIf="!isCompetencyAssessmentStatusYes()">
  <govuk-summary-list-row
    [actionText]="'change'"
    (onClick)="
      navigateTo('confirmation-ia-update')
    "
    (onKeyupEnter)="
      navigateTo('confirmation-ia-update')
    "
    key="Assessment"
    actionDetails="Assessment"
    [showAction]="true"
    >{{ getIndependentAssessmentStatus() }}
  </govuk-summary-list-row>
</govuk-summary-list>

<govuk-summary-list *ngIf="isCompetencyAssessmentStatusYes()">
  <govuk-summary-list-row
    (onClick)="
      navigateTo('independent-competency-status')
    "
    (onKeyupEnter)="
      navigateTo('independent-competency-status')
    "
    [actionText]="'change'"
    actionDetails="Assessment"
    key="Assessment"
    [showAction]="true"
    >{{ getIndependentAssessmentStatus() }}
  </govuk-summary-list-row>

  <govuk-summary-list-row
    (onClick)="
      navigateTo('competency-assesesment-organisation')
    "
    (onKeyupEnter)="
      navigateTo('competency-assesesment-organisation')
    "
    key="Provider"
    [showAction]="true"
    [actionText]="'change'"
    actionDetails="Provider"
    >{{ getCompetencyAssessmentOrg() }}
  </govuk-summary-list-row>
  <govuk-summary-list-row
    (onClick)="
      navigateTo('competency-assessment-certificate-number')
    "
    (onKeyupEnter)="
      navigateTo('competency-assessment-certificate-number')
    "
    key="Certificate number"
    [showAction]="true"
    actionDetails="Certificate number"
    [actionText]="'change'"
    >{{ getCompetencyAssessmentCertificateNo() }}
  </govuk-summary-list-row>
  <govuk-summary-list-row
    (onClick)="navigateTo('competency-assesesment-date')"
    (onKeyupEnter)="navigateTo('competency-assesesment-date')"
    [actionText]="'change'"
    actionDetails="Date of assessment certificate"
    key="Date of assessment certificate	"
    [showAction]="true"
    >{{ GetFormattedDateOfAssessment() }}
  </govuk-summary-list-row>
</govuk-summary-list>
