<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
  id="no-competency-assessment"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="!modelValid"
      anchorId="independent-assessment-status"
      message="{{ errorMessage }}"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">
    You will be registered as a class 1 building inspector
  </h1>

  <h2 class="govuk-heading-m">If you are a trainee</h2>

  <govuk-body>
    If you are a trainee registering for class 1, you must be supervised by a
    registered building inspector(RBI) to do BSR-regulated activities, for example
    assessing plans and inspecting buildings.
  </govuk-body>

  <govuk-body>
    To register as a class 2, 3 or 4 building inspector, you must have passed a
    BSR-approved competency assessment. You can request to change your class of
    registration when you have completed a relevant competency assessment.
  </govuk-body>

  <h2 class="govuk-heading-m">If you are an experienced building inspector</h2>

  <govuk-body>
    There is an extension period for experienced building inspectors who have
    not completed their competency assessment.
  </govuk-body>

  <govuk-body>
    You can continue to work on regulated building control activities (for the
    class of RBI you are undertaking a competency assessment for) without
    supervision if you are all of the following:
  </govuk-body>

  <govuk-list classes="govuk-list--bullet">
    <govuk-list-item text="an existing building control professional" />
    <govuk-list-item text="registered as a class 1 RBI by 6 April" />
    <govuk-list-item
      text="enrolled in, and actively working through, one of the BSR-approved competency assessment schemes by 6 April"
    />
    <govuk-list-item
      text="a scheme provider has not told you that you have not passed your competency assessment for a second time"
    />
  </govuk-list>

  <govuk-body>
    You must pass your competency assessment by the deadline that applies to the
    country you will work in to continue working on class 2 and 3 projects. If
    you do not, you cannot continue to work on regulated building control
    activities and will be treated as a class 1 trainee RBI.
  </govuk-body>

  <govuk-body>
    Find out more about the extension period in
    <a
      href="https://www.gov.uk/guidance/registered-building-inspectors"
      target="_blank"
      >England</a
    >
    and
    <a
      href="https://www.gov.wales/new-commencement-and-transitional-regulations-supporting-building-safety-act-2022-wgc-0022024"
      target="_blank"
      >Wales</a
    >.
  </govuk-body>
</govuk-formpage>
