<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
  id="no-competency-assessment"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="!modelValid"
      anchorId="independent-assessment-status"
      message="{{ errorMessage }}"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">
    You will be registered as a class 1 building inspector
  </h1>

  <govuk-body>
    A class 1 building inspector must be supervised by a registered building
    inspector to do BSR-regulated activities, for example assessing plans and
    inspecting buildings.

    <p>
      To register as a class 2, 3 or 4 building inspector, you must have passed BSR-approved competency assessment. You can request to change your class of registration when you have completed a relevant competency assessment.
    </p>

  </govuk-body>
</govuk-formpage>
