<govuk-formpage
  saveAndContinueText="Continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="SyncAndContinue()"
  [hideBackButton]="false"
>
  <div
    *ngIf="
      applicationService.model.InspectorClass?.ClassType?.Class ===
      BuildingInspectorClassType.Class1
    "
  >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Class 1 building inspector</span>
      Building inspector class
    </h1>

    <!-- class 1 summary list -->
    <govuk-summary-list>
      <govuk-summary-list-row
        (onClick)="navigateTo(BuildingInspectorRoutes.CLASS_SELECTION)"
        (onKeyupEnter)="navigateTo(BuildingInspectorRoutes.CLASS_SELECTION)"
        actionDetails="Type"
        key="Type"
        [showAction]="true"
        [actionText]="'change'"
      >
        Class 1 building inspector
      </govuk-summary-list-row>

      <govuk-summary-list-row
        (onClick)="navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)"
        (onKeyupEnter)="navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)"
        key="Country"
        actionDetails="Country"
        [showAction]="true"
        [actionText]="'change'"
      >
        <div
          *ngIf="
            applicationService.model.InspectorClass?.InspectorCountryOfWork
              ?.England
          "
        >
          England
        </div>
        <div
          *ngIf="
            applicationService.model.InspectorClass?.InspectorCountryOfWork
              ?.Wales
          "
        >
          Wales
        </div>
      </govuk-summary-list-row>
    </govuk-summary-list>
  </div>

  <!-- class 2 or 3 summary list non class 1 without IA -->
  <div
    *ngIf="
      applicationService.model.InspectorClass?.ClassType?.Class !==
        BuildingInspectorClassType.Class1 && !isCompetencyAssessmentStatusYes()
    "
  >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Class 1 building inspector</span>
      Summary of building inspector class
    </h1>

    <!-- CLASSES -->
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>
        <dd class="govuk-summary-list__value">
          Class 1 building inspector<br />
        </dd>
      </div>

      <!-- COUNTRIES -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Country</dt>
        <dd class="govuk-summary-list__value">
          <div
            *ngIf="
              applicationService.model.InspectorClass?.InspectorCountryOfWork
                ?.England
            "
          >
            England<br />
          </div>
          <div
            *ngIf="
              applicationService.model.InspectorClass?.InspectorCountryOfWork
                ?.Wales
            "
          >
            Wales
          </div>
        </dd>
        <dt style="visibility: hidden;">Actions</dt>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            role="link"
            (click)="navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)"
            (keyup.enter)="
              navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)
            "
            tabindex="0"
          >
            change<span class="govuk-visually-hidden"> country</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>

  <!-- class 2 or 3 summary list with IA -->
  <div
    *ngIf="
      applicationService.model.InspectorClass?.ClassType?.Class !==
        BuildingInspectorClassType.Class1 && isCompetencyAssessmentStatusYes()
    "
  >
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l"
        >Class
        {{ applicationService.model.InspectorClass?.ClassType?.Class }} building
        inspector</span
      >
      Summary of building inspector class
    </h1>

    <!-- CLASSES -->
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Type</dt>

        <dd class="govuk-summary-list__value">
          <div
            *ngIf="
              applicationService.model.InspectorClass?.ClassType?.Class ===
              BuildingInspectorClassType.Class3
            "
          >
            Class 3 building inspector<br />
          </div>

          <div
            *ngIf="
              applicationService.model.InspectorClass?.ClassType?.Class ===
              BuildingInspectorClassType.Class2
            "
          >
            Class 2 building inspector<br />
          </div>

          <div
            *ngIf="
              applicationService.model.InspectorClass?.ClassTechnicalManager ===
              'yes'
            "
          >
            Class 4 technical manager
          </div>
        </dd>

        <dt style="visibility: hidden">Actions</dt>


        <dd class="govuk-summary-list__actions">
          <div>
          <a
            class="govuk-link"
            role="link"
            (click)="navigateTo(BuildingInspectorRoutes.CLASS_SELECTION)"
            (keyup.enter)="navigateTo(BuildingInspectorRoutes.CLASS_SELECTION)"
            tabindex="0"
          >
            change<span class="govuk-visually-hidden">class</span> </a
          ><br />
        </div>
        <br />
        <br />
        <div>
          <a
            *ngIf="
              applicationService.model.InspectorClass?.ClassTechnicalManager ===
              'yes'
            "
            class="govuk-link"
            role="link"
            (click)="
              navigateTo(BuildingInspectorRoutes.CLASS_TECHNICAL_MANAGER)
            "
            (keyup.enter)="
              navigateTo(BuildingInspectorRoutes.CLASS_TECHNICAL_MANAGER)
            "
            tabindex="0"
          >
            change<span class="govuk-visually-hidden"> class</span>
          </a>
        </div>
        </dd>
      </div>

      <!-- ACTIVITIES -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Activity</dt>
        <dd class="govuk-summary-list__value">
          <div
            *ngIf="
              applicationService.model.InspectorClass?.Activities
                ?.AssessingPlans
            "
          >
            Assess plans<br />
          </div>
          <div
            *ngIf="
              applicationService.model.InspectorClass?.Activities?.Inspection
            "
          >
            Inspection
          </div>
        </dd>
        <dt style="visibility: hidden">Actions</dt>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            role="link"
            (click)="navigateTo(BuildingInspectorRoutes.REGULATED_ACTIVITIES)"
            (keyup.enter)="
              navigateTo(BuildingInspectorRoutes.REGULATED_ACTIVITIES)
            "
            tabindex="0"
          >
            change<span class="govuk-visually-hidden">activities</span><br />
          </a>
        </dd>
      </div>

      <!-- CATEGORIES -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Categories</dt>
        <dd class="govuk-summary-list__value">
          <div *ngIf="assessPlansCategories">
            {{ assessPlansCategories
            }}<span class="govuk-caption-m">[Assess plans]</span>
          </div>

          <div *ngIf="inspectionCategories">
            {{ inspectionCategories
            }}<span class="govuk-caption-m">[Inspection]</span>
          </div>
        </dd>
        <dt style="visibility: hidden">Actions</dt>
        <dd class="govuk-summary-list__actions">

          <div *ngIf="assessPlansCategories">
            <a
              class="govuk-link"
              role="link"
              (click)="navigateTo(assessPlansLink)"
              (keyup.enter)="navigateTo(assessPlansLink)"
              tabindex="0"
            >
              change<span class="govuk-visually-hidden">activities</span>
            </a>
            <br />
          </div>

          <br *ngIf="assessPlansCategories === 'false'" />
          <br *ngIf="assessPlansCategories" />

          <a
            class="govuk-link"
            role="link"
            *ngIf="inspectionCategories"
            (click)="navigateTo(inspectionLink)"
            (keyup.enter)="navigateTo(inspectionLink)"
            tabindex="0"
          >
            change<span class="govuk-visually-hidden">activities</span>
          </a>
        </dd>
      </div>

      <!-- COUNTRIES -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Country</dt>
        <dd class="govuk-summary-list__value">
          <div
            *ngIf="
              applicationService.model.InspectorClass?.InspectorCountryOfWork
                ?.England
            "
          >
            England<br />
          </div>
          <div
            *ngIf="
              applicationService.model.InspectorClass?.InspectorCountryOfWork
                ?.Wales
            "
          >
            Wales
          </div>
        </dd>
        <dt style="visibility: hidden">Actions</dt>
        <dd class="govuk-summary-list__actions">
          <a
            class="govuk-link"
            role="link"
            (click)="navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)"
            (keyup.enter)="
              navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)
            "
            tabindex="0"
          >
            change<span class="govuk-visually-hidden"> country</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</govuk-formpage>
