<govuk-back-link *ngIf="!production">Back</govuk-back-link>

<govuk-formpage saveAndContinueText="Continue" [hideSaveAndComeBack]=true (saveAndContinue)="saveAndContinue()"
  [hideBackButton]=true>

  <div *ngIf="applicationService.model.InspectorClass?.ClassType?.Class === 1">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Class 1 building inspector</span>
      Building inspector class
    </h1>

    <!-- class 1 summary list -->
    <govuk-summary-list>
      <govuk-summary-list-row 
        (onClick)="navigateTo(BuildingInspectorRoutes.CLASS_SELECTION)"
        (onKeyupEnter)="navigateTo(BuildingInspectorRoutes.CLASS_SELECTION)"
        key="ClassSelection"
        [showAction]="true"
        [actionText]="'change'"
      >
        Class 1 building inspector
      </govuk-summary-list-row>

      <govuk-summary-list-row 
        (onClick)="navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)"
        (onKeyupEnter)="navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)"
        key="Country"
        [showAction]="true"
        [actionText]="'change'"
      >
        <div *ngIf="applicationService.model.InspectorClass?.InspectorCountryOfWork?.England">
          England
        </div>
        <div *ngIf="applicationService.model.InspectorClass?.InspectorCountryOfWork?.Wales">
          Wales
        </div>
      </govuk-summary-list-row>
    </govuk-summary-list>
  </div>

  <!-- class 2 or 3 summary list -->
  <div *ngIf="applicationService.model.InspectorClass?.ClassType?.Class !== 1">    
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Class {{applicationService.model.InspectorClass?.ClassType?.Class}} building inspector</span>
      Summary of building inspector class
    </h1>

    <govuk-summary-list>
      <govuk-summary-list-row 
        (onClick)="navigateTo(BuildingInspectorRoutes.CLASS_SELECTION)"
        (onKeyupEnter)="navigateTo(BuildingInspectorRoutes.CLASS_SELECTION)"
        key="Type"
        [showAction]="true"
        [actionText]="'change'"
      >
        <div *ngIf="applicationService.model.InspectorClass?.ClassType?.Class === 2">
          Class 2 building inspector
        </div>

        <div *ngIf="applicationService.model.InspectorClass?.ClassType?.Class === 3">
          Class 3 building inspector
        </div>

        <div *ngIf="applicationService.model.InspectorClass?.ClassTechnicalManager === 'yes'">
          <div [ngStyle]="{display: 'inline-block'}">
            Class 4 building inspector
          </div>    
          <a class="govuk-link" role="link" tabindex="0" 
            (click)="navigateTo(BuildingInspectorRoutes.CLASS_TECHNICAL_MANAGER)"
            (keyup.enter)="navigateTo(BuildingInspectorRoutes.CLASS_TECHNICAL_MANAGER)"
          >
            {{"change"}}<span class="govuk-visually-hidden">{{"item.actionDetails"}}</span>
          </a>
        </div>
      </govuk-summary-list-row>

      <govuk-summary-list-row 
        (onClick)="navigateTo(BuildingInspectorRoutes.REGULATED_ACTIVITIES)"
        (onKeyupEnter)="navigateTo(BuildingInspectorRoutes.REGULATED_ACTIVITIES)"
        key="Activity"
        [showAction]="true"
        [actionText]="'change'"
      >
        <div *ngIf="applicationService.model.InspectorClass?.Activities?.AssessingPlans">
          Assess plans
        </div>
        <div *ngIf="applicationService.model.InspectorClass?.Activities?.Inspection">
          Inspection
        </div>
      </govuk-summary-list-row>

      <govuk-summary-list-row 
        (onClick)="navigateTo(BuildingInspectorRoutes.PLANS_CATEGORIES)"
        (onKeyupEnter)="navigateTo(BuildingInspectorRoutes.PLANS_CATEGORIES)"
        key="Categories"
        [showAction]="true"
        [actionText]="'change'"
      >
        <!-- //! check if assess and inspection can have no categories selected, if they can't remove div ngIf -->
        <div *ngIf="assessPlansCategories">
          <div>{{assessPlansCategories}}</div>
          <span class="govuk-caption-m">[Assess plans]</span>
        </div>

        <div *ngIf="inspectionCategories">
          <div>{{inspectionCategories}}</div>
          <span class="govuk-caption-m">[Inspection]</span>
        </div>
      </govuk-summary-list-row>

      <govuk-summary-list-row 
        (onClick)="navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)"
        (onKeyupEnter)="navigateTo(BuildingInspectorRoutes.INSPECTOR_COUNTRY)"
        key="Country"
        [showAction]="true"
        [actionText]="'change'"
      >
        <div *ngIf="applicationService.model.InspectorClass?.InspectorCountryOfWork?.England">
          England
        </div>
        <div *ngIf="applicationService.model.InspectorClass?.InspectorCountryOfWork?.Wales">
          Wales
        </div>    
      </govuk-summary-list-row>
    </govuk-summary-list>
  </div>
</govuk-formpage>