{{applicationService.model.ProfessionalMemberships| json}}

<govuk-formpage
  saveAndContinueText="Continue"
  [hideSaveAndComeBack]="false"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
>
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="!modelValid"
      anchorId="class-technical-manager"
      message="{{ errorMessage }}"
    />
  </govuk-error-summary>
  <h1 class="govuk-heading-l">Which professional body are you a member of?</h1>
  <govuk-body>

    <govuk-body>
      <govuk-hint text="Select one. We will ask for details of your memberships one at a time. You will be able to add additional memberships.">
      </govuk-hint>
    </govuk-body>

    <govuk-radio-group
      hintText=" "
      [errorText]=errorMessage
      id="professional-body-selection"
      [(model)]="selectedOption"
    >
      <govuk-radio
        *ngIf="
          model!.RICS.CompletionState !== ComponentCompletionState.Complete
        "
        class=""
        label="Royal Institution of Chartered Surveyors (RICS)"
        value="RICS"
        id="RICS"
        [model]="selectedOption"
      >
      </govuk-radio>
      <govuk-radio
        *ngIf="
          model!.CABE.CompletionState !== ComponentCompletionState.Complete
        "
        label="Chartered Association of Building Engineers (CABE)"
        value="CABE"
        id="CABE"
        [model]="selectedOption"
      ></govuk-radio>
      <govuk-radio
        *ngIf="
          model!.CIOB.CompletionState !== ComponentCompletionState.Complete
        "
        label="Chartered Institute of Building (CIOB)"
        value="CIOB"
        id="CIOB"
        [model]="selectedOption"
      ></govuk-radio>
      <div
        *ngIf="
          model!.OTHER.CompletionState !== ComponentCompletionState.Complete
        "
        class="govuk-radios__divider"
      >
        <span *ngIf="display()">or</span>
      </div>
      <govuk-radio
        *ngIf="
          model!.OTHER.CompletionState !== ComponentCompletionState.Complete
        "
        label="Other"
        value="OTHER"
        id="OTHER"
        [model]="selectedOption"
      ></govuk-radio>
    </govuk-radio-group>
  </govuk-body>
</govuk-formpage>
