<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="false"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
>
  <govuk-error-summary
    *ngIf="selectedOptionError"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="selectedOptionError"
      anchorId="{{errorAnchorId}}"
      [message]="errorText"
    />
  </govuk-error-summary>
  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">
      Class
      {{ (applicationService.model.InspectorClass?.ClassType)!.Class }} building
      inspector
    </span>
    Which countries will you work in?
  </h1>

  <govuk-body>
    <govuk-checkbox-group
      [title]=""
      [hint]="hint"
      [errorText]="errorText"
      [(model)]="selections"
      id="country-selection"
      #field
      [govukRequired]="field"
    >
      <govuk-checkbox
        #checkbox
        (onKeyupEnter)="onKeyupEnter.emit()"
        id="england"
        [model]="selections"
        text="England"
        value="England"
        (onClicked)="optionClicked()"
        hint=""
      />

      <govuk-checkbox
        #checkbox
        (onKeyupEnter)="onKeyupEnter.emit()"
        id="wales"
        [model]="selections"
        text="Wales"
        value="Wales"
        (onClicked)="optionClicked()"
        hint=""
      />
    </govuk-checkbox-group>
  </govuk-body>
</govuk-formpage>
