<govuk-back-link *ngIf="!production">Back</govuk-back-link>


<govuk-formpage saveAndContinueText="Continue" [hideSaveAndComeBack]=true (saveAndContinue)="saveAndContinue()" [hideBackButton]=true>


  <govuk-body>
    <h1 class="govuk-heading-xl">Summary of your personal details</h1>
    <govuk-summary-list>
      <govuk-summary-list-row (onClick)="navigateTo(PersonalDetailRoutes.NAME)" (onKeyupEnter)="navigateTo(PersonalDetailRoutes.NAME)" key="Name"  [showAction]=true>{{applicationService.model.PersonalDetails?.ApplicantName?.FirstName}} {{applicationService.model.PersonalDetails?.ApplicantName?.LastName}}</govuk-summary-list-row>
      <govuk-summary-list-row key="Email address" [showAction]=false>{{applicationService.model.PersonalDetails?.ApplicantEmail}}</govuk-summary-list-row>
      <govuk-summary-list-row key="Telephone number" [showAction]=false>{{applicationService.model.PersonalDetails?.ApplicantPhone}}</govuk-summary-list-row>
      <govuk-summary-list-row (onClick)="navigateTo(PersonalDetailRoutes.DATE_OF_BIRTH)" (onKeyupEnter)="navigateTo(PersonalDetailRoutes.DATE_OF_BIRTH)" key="Date of birth" [showAction]=true>{{GetFormattedDateofBirth()}}</govuk-summary-list-row>
      <govuk-summary-list-row (onClick)="navigateTo(PersonalDetailRoutes.ADDRESS)" (onKeyupEnter)="navigateTo(PersonalDetailRoutes.ADDRESS)" key="Home address" [showAction]=true>
        <div>
          <div *ngIf="applicationService.model.PersonalDetails?.ApplicantAddress?.Address">{{applicationService.model.PersonalDetails?.ApplicantAddress?.Address}}</div>
          <div *ngIf="applicationService.model.PersonalDetails?.ApplicantAddress?.AddressLineTwo">{{applicationService.model.PersonalDetails?.ApplicantAddress?.AddressLineTwo}}</div>
          <div *ngIf="applicationService.model.PersonalDetails?.ApplicantAddress?.Town">{{applicationService.model.PersonalDetails?.ApplicantAddress?.Town}}</div>
          <div *ngIf="applicationService.model.PersonalDetails?.ApplicantAddress?.Postcode">{{applicationService.model.PersonalDetails?.ApplicantAddress?.Postcode}}</div>
        </div>
      </govuk-summary-list-row>
      <govuk-summary-list-row
        (onClick)="navigateTo(PersonalDetailRoutes.ALT_PHONE)"
        (onKeyupEnter)="navigateTo(PersonalDetailRoutes.ALT_PHONE)"
        key="Alternative telephone number"
        [showAction]="true"
      >
        {{ getAlternativePhone() }}
      </govuk-summary-list-row>
      <govuk-summary-list-row 
        (onClick)="navigateTo(PersonalDetailRoutes.ALT_EMAIL)" 
        (onKeyupEnter)="navigateTo(PersonalDetailRoutes.ALT_EMAIL)" 
        key="Alternative email address" [showAction]=true
      >
        {{ getAlternativeEmail() }}
      </govuk-summary-list-row>
      <govuk-summary-list-row (onClick)="navigateTo(PersonalDetailRoutes.NATIONAL_INS_NUMBER)" (onKeyupEnter)="navigateTo(PersonalDetailRoutes.NATIONAL_INS_NUMBER)" key="National Insurance Number" [showAction]=true>{{applicationService.model.PersonalDetails?.ApplicantNationalInsuranceNumber}}</govuk-summary-list-row>
    </govuk-summary-list>
  </govuk-body>
</govuk-formpage>

