<govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
  <!-- <govuk-error-link
    *ngFor="let error of validationErrors"
    anchorId="{{ error.Anchor }}"
    message="{{ error.Text }}"
  /> -->
  <ng-container
    *ngIf="isSingleMessage; then singleErrorDisplay; else multipleErrorDisplay"
  >
  </ng-container>
</govuk-error-summary>
<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="saveAndContinue()"
  (saveAndComeBack)="saveAndComeBack()"
  [hideBackButton]="false"
>
  <div class="govuk-form-group">
    <h1 class="govuk-heading-l">
      Provide your {{ PROFESSIONAL_BODY_ORG_NAME }} membership information
    </h1>

    <govuk-input
      id="mem-input-num"
      label="Membership number"
      [(model)]="model.MembershipNumber"
      class="govuk-!-margin-bottom-5 govuk-input--width-10"
      hintClass="no-margin-top"
      [errorText]="getMembershipErrorDescription()"
    />

    <govuk-input
      id="mem-input-level"
      label="What level of membership do you hold?"
      [(model)]="model.MembershipLevel"
      hint="For example, chartered, fellow or associate"
      class="govuk-!-margin-bottom-5 govuk-input--width-20"
      hintClass="no-margin-top"
      [errorText]="getLevelErrorDescription()"
    />

    <govuk-input
      id="mem-input-year"
      label="When did you achive your current level of membership?"
      [(model)]="membershipYearString"
      hint="for example, 2023"
      [maxlength]="4"
      class="govuk-!-margin-bottom-5 govuk-input--width-4"
      hintClass="no-margin-top"
      [errorText]="getYearErrorDescription()"
    />
  </div>
</govuk-formpage>

<ng-template #singleErrorDisplay>
  <govuk-error-link
    *ngFor="let error of singleValidationErrors"
    anchorId="{{ error.Anchor }}"
    message="{{ error.Text }}"
  />
</ng-template>
<ng-template #multipleErrorDisplay>
  <govuk-error-link
    *ngFor="let error of validationErrors"
    anchorId="{{ error.Anchor }}"
    message="{{ error.Text }}"
  />
</ng-template>
