<govuk-back-link *ngIf="!production">Back</govuk-back-link>

<govuk-formpage saveAndContinueText="Save and Continue" [hideSaveAndComeBack]=false (saveAndContinue)="saveAndContinue()" (saveAndComeBack)="saveAndComeBack()" [hideBackButton]=true>
  
  <govuk-error-summary *ngIf="emailHasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="!modelValid" anchorId="applicant-email" message={{emailErrorMessage}} />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Do you want to add an alternative email address?</h1>

  <govuk-warning message="Your alternative email address will not be published." background="#0"></govuk-warning>

  <govuk-radio-group hintText="Select one option." id="applicant-email" [(model)]="selectedOption">
    <govuk-radio label="Yes" value="yes" id="yes" [model]="selectedOption">
      <govuk-input 
      *ngIf="selectedOption === 'yes'"
        id="applicant-alternative-email" 
        label="Alternative email address"
        [(model)]="model!.Email" [maxlength]=100
        labelClass="govuk-label--s"
        hint="We will use this to contact you about this application."
        [errorText]="getErrorDescription(!modelValid, emailErrorMessage)"
        hintClass="no-margin-top"
        class="govuk-!-margin-bottom-1"
        (onKeyupEnter)="saveAndContinue()"
        />
    
    </govuk-radio>
    <govuk-radio label="No" value="no" id="no"  [model]="selectedOption"></govuk-radio>

  </govuk-radio-group>

</govuk-formpage>
