<govuk-back-link *ngIf="!production">Back</govuk-back-link>

<govuk-formpage saveAndContinueText="Save and continue" [hideSaveAndComeBack]=false (saveAndComeBack)="saveAndComeBack()" 
  (saveAndContinue)="saveAndContinue()" [hideBackButton]=true>

  <govuk-error-summary *ngIf="selectedOptionError" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="selectedOptionError" anchorId="radios-bi-class-selection" [message]="errorMessage" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">What class of building inspector are you applying for?</h1>

  <govuk-radio-group hintText="Select one option." id="radios-bi-class-selection" [(model)]="selectedOption" [errorText]="errorMessage">
    <govuk-radio 
      label="Class 1 building inspector"
      [value]="BuildingInspectorClassType.Class1"
      id="1"
      [model]="selectedOption" 
      [hint]="'A class 1 building inspector is an unqualified trainee and must work under the supervision of a registered building inspector.'">
    </govuk-radio>

    <govuk-radio 
      label="Class 2 building inspector"
      [value]="BuildingInspectorClassType.Class2"
      id="2"
      [model]="selectedOption"
      [hint]="'A class 2 building inspector is competent to work without supervision on standard buildings.'">
    </govuk-radio>

    <govuk-radio 
      label="Class 3 specialist building inspector"
      [value]="BuildingInspectorClassType.Class3"
      id="3"
      [model]="selectedOption"
      [hint]="'A class 3 building inspector is competent to work without supervision on all building types including nonstandard or high-risk buildings or both.'">
    </govuk-radio>
  </govuk-radio-group>

  <br>

  <govuk-body>
    If you select class 2 or 3, we will ask later if you also intent to register as a class 4 technical manager.
  </govuk-body>

</govuk-formpage>

<div>{{ this.model | json}}</div>