<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <govuk-error-summary *ngIf="searchModelHasErrors" title="There is a problem" #summaryError>
        <govuk-error-link anchorId="input-inspector-name" message={{searchModelBuildingInspectorErrorText}} />
        <govuk-error-link anchorId="input-employer-name" message={{searchModelBuildingControllerErrorText}} />
      </govuk-error-summary>
      
      <h1 class="govuk-heading-xl">
        Find a registered building inspector in {{ country }}
      </h1>
      <!-- <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Last updated</dt>
          <dd class="govuk-summary-list__value">{{lastUpdated}}</dd>
        </div>
      </dl> -->
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-width-container">
        <govuk-body>
          Find details of a building inspector listed on the register of
          building inspectors for {{ country }}.
        </govuk-body>
        <govuk-body>
          All building inspectors who do building control work in
          {{ country }} must be registered with the Building Safety Regulator
          (BSR).
        </govuk-body>
        <govuk-body> The register shows: </govuk-body>

        <govuk-list classes="govuk-list--bullet">
          <govuk-list-item text="building inspector name"></govuk-list-item>
          <govuk-list-item text="registration number"></govuk-list-item>
          <govuk-list-item
            text="employer’s or business name and address"
          ></govuk-list-item>
          <govuk-list-item
            text="registration class"
          ></govuk-list-item>
          <govuk-list-item
            text="categories of buildings the inspector is registered to work on"
          ></govuk-list-item>
          <govuk-list-item
            text="start and end date of registration"
          ></govuk-list-item>
          <govuk-list-item
            text="details of any conditions of registration"
          ></govuk-list-item>
        </govuk-list>

        <ng-container
          *ngIf="
            this.country == 'England';
            then englandRegister;
            else walesRegister
          "
        >
        </ng-container>

        <ng-template #englandRegister>
          <govuk-inset-text
            >There is a different
            <a class="govuk-link"
              [routerLink]="['/public-register-wales']"
              class="govuk-link"
            >
              register of building inspectors for Wales</a
            >.
          </govuk-inset-text>
        </ng-template>
        <ng-template #walesRegister>
          <govuk-inset-text
            >There is a different
            <a class="govuk-link"
              [routerLink]="['/public-register-england']"
              class="govuk-link"
            >
              register of building inspectors for England</a
            >.
          </govuk-inset-text>
        </ng-template>

        <h2 class="govuk-heading-m">Competency assessment extension period</h2>

        <govuk-body *ngIf="this.country=='England'">Experienced building inspectors in {{country}} can complete their competency assessment and upgrade their registration until 6 July 2024.</govuk-body>

        <govuk-body *ngIf="this.country=='Wales'">Experienced building inspectors in {{country}} can complete their competency assessment and upgrade their registration until 30 September 2024.</govuk-body>


        <govuk-body>Registered building inspectors (RBIs) registered as class 1 will be temporarily extended to the class of RBI for which they are undertaking a competency assessment if they meet <a class="govuk-link" href="https://www.gov.uk/guidance/registered-building-inspectors#extension-period-eligibility" target="_self">all the criteria</a>.</govuk-body>

        <govuk-body>The RBI registers will not show when inspectors’ registration is temporarily extended during the competency assessment extension period.</govuk-body>

        <govuk-body>You can ask RBIs to show that they meet the criteria for the scope of their registration to be temporarily extended. Check by asking an RBI to provide evidence, such as confirmation from one of the <a class="govuk-link" href="public-register-{{country | lowercase}}#approved-independent-assessment-scheme-providers">BSR-approved independent assessment scheme providers</a>:</govuk-body>

        <govuk-list classes="govuk-list--bullet">
          <govuk-list-item text="that they are enrolled on a scheme"></govuk-list-item>
          <govuk-list-item text="the class at which they are undergoing their competency assessment"></govuk-list-item>
        </govuk-list>

        <h3 class="govuk-heading-s" id="approved-independent-assessment-scheme-providers">Approved independent assessment scheme providers</h3>

        <govuk-body>The BSR-approved independent assessment scheme providers are:</govuk-body>
        <govuk-list classes="govuk-list--bullet">
          <govuk-list-item><a class="govuk-link" href="https://cbuilde.com/" target="_self">The Chartered Association of Building Engineers</a></govuk-list-item>
          <govuk-list-item><a class="govuk-link" href="https://www.thebscf.org/home/" target="_self">Building Safety Competence Foundation</a></govuk-list-item>
          <govuk-list-item><a class="govuk-link" href="https://ttd-education.org/" target="_self">Total Training and Development Limited</a></govuk-list-item>
        </govuk-list>


          <h2 class="govuk-heading-m">Search the register</h2>

          <govuk-body>
            You can search by building inspector name, the building control body
            they are employed by, or a combination of both.
          </govuk-body>

          <div class="govuk-form-group">

          <div id="form-inputs" >
            <div class="govuk-!-static-margin-bottom-5">
              <govuk-input-autocomplete
                class="govuk-!-width-two-thirds"
                id="inspector-name"
                label="Building inspector name"
                [errorText]="searchModelBuildingInspectorErrorText"
                [(model)]="searchModel['inspector-name']"
                #field
                [govukRequired]="field"
                [values]="inspectors"
                (onDebounce)="searchInspectors($event)"
                (onSelectedValue)="selectInspectorName($event)"
                (keyup.enter)="startSearchBuildingInspectors()"

                
                
              />
            </div>

            <div class="govuk-!-static-margin-bottom-5">
              <govuk-input-autocomplete
                class="govuk-!-width-two-thirds"
                id="employer-name"
                label="Building control body"
                [errorText]="searchModelBuildingControllerErrorText"
                [(model)]="searchModel['building-control-body']"
                #field
                [govukRequired]="field"
                [values]="companies"
                (onDebounce)="searchCompanies($event)"
                (onSelectedValue)="selectCompanyName($event)"
                (keyup.enter)="startSearchBuildingInspectors()"
              />
            </div>
          </div>
        </div>

        <govuk-button
          id="search-button"
          [isLoading]="searching"
          loadingText="Searching..."
          [disabled]="searching"
          (keyup.enter)="searchBuildingInspectors()"
          (click)="searchBuildingInspectors()"
          >Search
        </govuk-button>

        <h2 class="govuk-heading-m">How to register as a building inspector</h2>

        <govuk-body>
          If you want to carry out BSR-regulated activities such as
          assessing plans and inspecting, you must
          <a class="govuk-link"
            href="https://www.gov.uk/guidance/register-as-a-building-inspector"
            target="_blank"
            >register as a building inspector online</a
          >.
        </govuk-body>

        <h2 class="govuk-heading-m">If you need help using the register</h2>

        <govuk-body>
          <a class="govuk-link" href="https://www.gov.uk/guidance/contact-the-building-safety-regulator">Contact BSR</a> if you need help with the building
          inspector register.
        </govuk-body>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <aside
        style="border-top: 2px solid #1d70b8; padding-top: 10px"
        role="complementary"
      >
        <h2 class="govuk-heading-m" id="subsection-title">Related content</h2>
        <h3 class="govuk-heading-s" id="subsection-title">Guidance</h3>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link"
                href="https://www.gov.uk/guidance/registered-building-inspectors#role-of-a-building-inspector"
              >
                Registered building inspectors
              </a>
            </li>
            <li>
              <a class="govuk-link" 
                href="https://www.gov.uk/guidance/register-your-business-as-a-building-control-approver#when-to-register"
              >
                Registered building control approvers
              </a>
            </li>
          </ul>
        </nav>
        <h3 class="govuk-heading-s" id="subsection-title">Registration</h3>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link"
                href="https://www.gov.uk/guidance/register-as-a-building-inspector"
              >
                Register as a building inspector
              </a>
            </li>
            <li>
              <a class="govuk-link"
                href="https://www.gov.uk/guidance/register-your-business-as-a-building-control-approver"
              >
                Register your business as a building control approver
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
</div>
