<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="input-email" message="You must enter an email address in the correct format, like name@example.com" />
        </govuk-error-summary>

        <h1 class="govuk-heading-l">Your email address</h1>

        <govuk-body>To secure your application and allow you to return to it later, we need to verify your email address. To do this, we will send you a 6-digit security code.</govuk-body>

        <govuk-inset-text>
          <govuk-body>
            Use your individual or personal email address to apply. You as an individual, not your organisation, will be registered as a building inspector.
          </govuk-body>
          <govuk-body> You will be able to add a second contact email address later.   </govuk-body>
        </govuk-inset-text>

        <govuk-body>If you do not have an email address, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" class="govuk-link" target="_blank">contact us</a> to apply to register a high-rise building.</govuk-body>

        <govuk-input id="email" type="email" [maxlength]=100
                     [(model)]="model!.applicationEmail"
                     label="Enter your email address" labelClass="govuk-label--s"
                     [errorText]="getErrorDescription(emailHasErrors, 'Enter an email address in the correct format')"
                     hint="We will use this to contact you about this application. You will need to use this email address to access the whole application - including the detailed information about the structure and safety of the building."
                     class="govuk-!-margin-bottom-1"
                     (onKeyupEnter)="saveAndContinue()" />


      </div>

      <govuk-button (onClick)="saveAndContinue()" [isLoading]="processing" loadingText="Sending...">Send verification email</govuk-button>

    </div>
  </div>
</div>
