<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">

        <govuk-error-summary *ngIf="showError" title="There is a problem" #summaryError>
          <govuk-error-link anchorId="application-new-input" message="Select new application or continue with a saved application" />
        </govuk-error-summary>

        <govuk-radio-group title="Your application" [isPageHeading]=true [(model)]="continueLink" [errorText]="showError ? 'Select new application or continue with a saved application': undefined">
          <govuk-radio name="application-group" id="application-new" value="/new-application/new-applicant-name" label="Start a new application" (onKeyupEnter)="continue()" />
          <govuk-radio name="application-group" id="application-return" value="/returning-application" label="Continue a saved application" class="govuk-radio-no-margin-bottom" (onKeyupEnter)="continue()" />
        </govuk-radio-group>

      </div>

      <govuk-button (onClick)="continue()">Continue</govuk-button>
    </div>
  </div>
</div>
