<govuk-back-link *ngIf="!production">Back</govuk-back-link>


<govuk-formpage saveAndContinueText="Continue" [hideSaveAndComeBack]=true (saveAndContinue)="saveAndContinue()" [hideBackButton]=true>


  <h1 class="govuk-heading-l">Summary of your application</h1>
  <govuk-body>
    <h1 class="govuk-heading-xl">1. Personal details</h1>
    <hse-application-personal-details [PersonalDetails]="applicationService.model.PersonalDetails" (onNavigateTo)="navigateToPersonalDetailsRoute($event)" />
    <h1 class="govuk-heading-xl">2. Building inspector class</h1>
    <hse-building-inspector-class-details [BuildingInspectorClassDetails]="applicationService.model.InspectorClass" (onNavigateTo)="navigateToBuildingInspectorClassDetailsRoute($event)" />
    <h1 class="govuk-heading-xl">3. Competency</h1>
    <hse-competency-details [BuildingInspectorCompetencyDetails]="applicationService.model.Competency" (onNavigateTo)="navigateToBuildingInspectorCompetencyDetailsRoute($event)" />

  </govuk-body>
</govuk-formpage>
