<govuk-back-link *ngIf="!production" >Back</govuk-back-link>

<govuk-formpage saveAndContinueText="Save and continue" [hideSaveAndComeBack]=false (saveAndContinue)="saveAndContinue()" [hideBackButton]=true (saveAndComeBack)="saveAndComeBack()">

  <h1 class="govuk-heading-l">Do you want to add an alternative telephone number?</h1>

  <govuk-warning message="Your alternative telephone number will not be published." background="#0"></govuk-warning>

  <govuk-error-summary *ngIf="selectedOptionError" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="selectedOptionError" anchorId="radios-alternative-phone" [message]="errorMessage"/>
  </govuk-error-summary>

  <govuk-radio-group hintText="Select one option." id="radios-alternative-phone" [(model)]="selectedOption">
    <govuk-radio label="Yes" value="yes" id="yes" [model]="selectedOption">

      <govuk-input
        *ngIf="selectedOption === 'yes'"
        id="applicant-alternative-phone"
        label="Alternative telephone number"
        [(model)]="model!.PhoneNumber"
        labelClass="govuk-label--s"
        hint="Enter a UK telephone or mobile number with or without spaces. For example, '01234567890' or '+447654321098'."
        [errorText]="getErrorDescription(phoneNumberHasErrors, 'Enter a UK telephone number')"
        hintClass="no-margin-top"
        (onKeyupEnter)="saveAndContinue()"
      />

    </govuk-radio>
    
    <govuk-radio label="No" value="no" id="no" [model]="selectedOption">

    </govuk-radio>
  </govuk-radio-group>

</govuk-formpage>
