<govuk-formpage
  saveAndContinueText="Save and continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="SyncAndContinue()"
  [hideBackButton]="false"
  [processing]="processing"

  id="competency-summary"
>
  <govuk-body>
    <h1 class="govuk-heading-l">Summary of your independent assessment</h1>

    <govuk-summary-list *ngIf="!isCompetencyAssessmentStatusYes()">
      <govuk-summary-list-row
        [actionText]="'change'"
        (onClick)="navigateTo(CompetencyRoutes.CONFIRMATION_IA_UPDATE)"
        (onKeyupEnter)="navigateTo(CompetencyRoutes.CONFIRMATION_IA_UPDATE)"
        key="Independent assessment status"
        actionDetails="Independent assessment status"
        [showAction]="true"
        >{{ getIndependentAssessmentStatus() }}
      </govuk-summary-list-row>
    </govuk-summary-list>

    <govuk-summary-list *ngIf="isCompetencyAssessmentStatusYes()">
      <govuk-summary-list-row
        [actionText]="'change'"
        (onClick)="navigateTo(CompetencyRoutes.INDEPENDENT_COMPETENCY_STATUS)"
        (onKeyupEnter)="
          navigateTo(CompetencyRoutes.INDEPENDENT_COMPETENCY_STATUS)
        "
        key="Independent assessment status"
        actionDetails="Independent assessment status"
        [showAction]="true"
        >{{ getIndependentAssessmentStatus() }}
      </govuk-summary-list-row>

      <govuk-summary-list-row
        [actionText]="'change'"
        (onClick)="
          navigateTo(
            CompetencyRoutes.COMPETENCY_ASSESSMENT_ORGANISATION,
            'competency-change'
          )
        "
        (onKeyupEnter)="
          navigateTo(
            CompetencyRoutes.COMPETENCY_ASSESSMENT_ORGANISATION,
            'competency-change'
          )
        "
        key="Assessment provider"
        actionDetails="Assessment organisation"
        [showAction]="true"
        >{{ getCompetencyAssessmentOrg() }}
      </govuk-summary-list-row>
      <govuk-summary-list-row
        [actionText]="'change'"
        (onClick)="
          navigateTo(
            CompetencyRoutes.COMPETENCY_ASSESSMENT_CERTIFICATE_NUMBER,
            'competency-change'
          )
        "
        (onKeyupEnter)="
          navigateTo(
            CompetencyRoutes.COMPETENCY_ASSESSMENT_CERTIFICATE_NUMBER,
            'competency-change'
          )
        "
        key="Assessment certificate number"
        actionDetails="Assessment certificate number"
        [showAction]="true"
        >{{ getCompetencyAssessmentCertificateNo() }}
      </govuk-summary-list-row>
      <govuk-summary-list-row
        [actionText]="'change'"
        (onClick)="
          navigateTo(
            CompetencyRoutes.COMPETENCY_ASSESSMENT_DATE,
            'competency-change'
          )
        "
        (onKeyupEnter)="
          navigateTo(
            CompetencyRoutes.COMPETENCY_ASSESSMENT_DATE,
            'competency-change'
          )
        "
        key="Date of assessment"
        actionDetails="Date of assessment"
        [showAction]="true"
        >{{ GetFormattedDateofBirth() }}
      </govuk-summary-list-row>
    </govuk-summary-list>
  </govuk-body>
</govuk-formpage>
