<govuk-back-link *ngIf="!production">Back</govuk-back-link>

<govuk-formpage
  saveAndContinueText="Continue"
  [hideSaveAndComeBack]="true"
  (saveAndContinue)="SyncAndContinue()"
  [hideBackButton]="true"
>
  <govuk-body>
    <h1 class="govuk-heading-l">Summary of your independent assessment</h1>

    <govuk-summary-list *ngIf="!isCompetencyAssessmentStatusYes()">
      <govuk-summary-list-row
        (onClick)="
          navigateTo(CompetencyRoutes.CONFIRMATION_IA_UPDATE)
        "
        (onKeyupEnter)="
          navigateTo(CompetencyRoutes.CONFIRMATION_IA_UPDATE)
        "
        key="Independent assessment status"
        [showAction]="true"
        >{{ getIndependentAssessmentStatus() }}
      </govuk-summary-list-row>
    </govuk-summary-list>

    <govuk-summary-list *ngIf="isCompetencyAssessmentStatusYes()">
      <govuk-summary-list-row
        (onClick)="
          navigateTo(CompetencyRoutes.INDEPENDENT_COMPETENCY_STATUS)
        "
        (onKeyupEnter)="
          navigateTo(CompetencyRoutes.INDEPENDENT_COMPETENCY_STATUS)
        "
        key="Independent assessment status"
        [showAction]="true"
        >{{ getIndependentAssessmentStatus() }}
      </govuk-summary-list-row>

      <govuk-summary-list-row
        (onClick)="
          navigateTo(CompetencyRoutes.COMPETENCY_ASSESSMENT_ORGANISATION, 'competency-change')
        "
        (onKeyupEnter)="
          navigateTo(CompetencyRoutes.COMPETENCY_ASSESSMENT_ORGANISATION, 'competency-change')
        "
        key="Assessment organisation"
        [showAction]="true"
        >{{ getCompetencyAssessmentOrg() }}
      </govuk-summary-list-row>
      <govuk-summary-list-row
        (onClick)="
          navigateTo(CompetencyRoutes.COMPETENCY_ASSESSMENT_CERTIFICATE_NUMBER, 'competency-change')
        "
        (onKeyupEnter)="
          navigateTo(CompetencyRoutes.COMPETENCY_ASSESSMENT_CERTIFICATE_NUMBER, 'competency-change')
        "
        key="Assessment certificate number"
        [showAction]="true"
        >{{ getCompetencyAssessmentCertificateNo() }}
      </govuk-summary-list-row>
      <govuk-summary-list-row
        (onClick)="navigateTo(CompetencyRoutes.COMPETENCY_ASSESSMENT_DATE, 'competency-change')"
        (onKeyupEnter)="navigateTo(CompetencyRoutes.COMPETENCY_ASSESSMENT_DATE, 'competency-change')"
        key="Date of assessment"
        [showAction]="true"
        >{{ GetFormattedDateofBirth() }}
      </govuk-summary-list-row>
    </govuk-summary-list>
  </govuk-body>
</govuk-formpage>
