<govuk-formpage saveAndContinueText="Verify mobile phone number" [hideSaveAndComeBack]=true (saveAndContinue)="validateOTP()" [hideBackButton]=false [processing]="processing">
  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link anchorId="input-security-code" [message]="getOtpError()" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Enter security code</h1>

  <govuk-body>
    We have sent a 6-digit security code to: {{PhoneNumber}}
  </govuk-body>

  <govuk-body>
    If you did not get a text message, or the security code timed out, ask us to <a class="govuk-link" [routerLink]="['/new-application/applicant-phone']">resend the code.</a>
  </govuk-body>

  <govuk-body>
    If you want to use a different mobile number, you can <a class="govuk-link" [routerLink]="['/new-application/applicant-phone']">enter a different mobile number.</a>
  </govuk-body>


  <govuk-input id="email-verify" label="Security code"
               [(model)]="model!.Number"
               labelClass="govuk-label--s"
               hint="For example, '123456'."
               [errorText]="getErrorDescription(hasErrors, getOtpError())"
               hintClass="no-margin-top"
               class="govuk-!-margin-bottom-1"
               (onKeyupEnter)="validateOTP()" />




</govuk-formpage>


