<govuk-back-link *ngIf="!production">Back</govuk-back-link>


<govuk-formpage saveAndContinueText="Send verification text" [hideSaveAndComeBack]=true (saveAndContinue)="saveAndContinue()" [hideBackButton]=true>

  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="!modelValid" anchorId="input-applicant-phone" message="Enter a valid telephone number" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Your mobile telephone number</h1>

  <govuk-body>
    We will text you a 6-digit code so you can verify your mobile phone number with us.
  </govuk-body>

  <govuk-body>
    We will use your mobile telephone number only if we need to talk to you about your application.
  </govuk-body>

  <govuk-body>
    You will be able to add a second telephone number later.
  </govuk-body>

  <govuk-body>
    If you do not have a mobile telephone, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" class="govuk-link" target="_blank">contact us</a> to apply to register as a building inspector. If you lose access to this mobile number, you will have to begin your application again.
  </govuk-body>

  <govuk-warning message="Your mobile telephone number will not be published." background="#0"></govuk-warning>

  <govuk-input id="applicant-phone" label="Telephone or mobile number"
               [(model)]="model!.PhoneNumber"
               labelClass="govuk-label--s"
               hint="Enter a UK telephone or mobile number without spaces. For example, 01234567890 or +447654321098"
               [errorText]="getErrorDescription(!modelValid, 'Enter a valid telephone number')"
               hintClass="no-margin-top"
               (onKeyupEnter)="saveAndContinue()" />

</govuk-formpage>
