<govuk-back-link>Back</govuk-back-link>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Declaration</h1>

      <govuk-body>By submitting this application to register, you are confirming that the details you are providing are correct.</govuk-body>
      <govuk-body>You must not give false or misleading information to the Building Safety Regulator. Knowingly or recklessly giving false or misleading information is a criminal offence punishable by up to 2 years in prison.</govuk-body>

      <h2 class="govuk-heading-m">Confirm that you agree to</h2>

      <govuk-list classes='govuk-list--bullet'>
        <govuk-list-item text="abide by the BSR's code of conduct" />
        <govuk-list-item text="the conditions of BSR registration" />
      </govuk-list>

      <govuk-body>We may ask you for written evidence to support your application.</govuk-body>
      <govuk-body>Once you have submitted your application, you cannot use this service to amend your answers.</govuk-body>


      <govuk-button (onClick)="saveAndContinue()" [disabled]="loading" [isLoading]="loading">Declare and continue to payment</govuk-button>
      <save-and-come-back (onClick)="saveAndComeBack()" />

    </div>
  </div>
</div>
