<govuk-summary-list>
  <govuk-summary-list-row
   [actionText]="'change'"
    *ngIf="getProfessionalBodyMemberships()[0] != 'None'"
    class="govuk-summary-list__key"
    (onClick)="navigateTo('professional-body-membership-summary')"
    (onKeyupEnter)="navigateTo('professional-body-membership-summary')"
    key="Membership of professional bodies"
    [showAction]="true"
  >
    <div *ngFor="let membership of getProfessionalBodyMemberships()">
      <govuk-body>{{ membership }}</govuk-body>
    </div>
  </govuk-summary-list-row>

  <govuk-summary-list-row
   [actionText]="'change'"
    *ngIf="getProfessionalBodyMemberships()[0] == 'None'"
    class="govuk-summary-list__key"
    (onClick)="navigateTo('professional-body-memberships')"
    (onKeyupEnter)="navigateTo('professional-body-memberships')"
    key="Membership of professional bodies"
    [showAction]="true"
  >
    <div *ngFor="let membership of getProfessionalBodyMemberships()">
      <govuk-body>{{ membership }}</govuk-body>
    </div>
  </govuk-summary-list-row>

  <govuk-summary-list-row
    (onClick)="navigateTo('professional-activity-employment-type')"
    [actionText]="'change'"
    (onKeyupEnter)="navigateTo('professional-activity-employment-type')"
    key="Employment type"
    [showAction]="true"
  >
   {{ getEmploymentTypeName() }}
  </govuk-summary-list-row>

  <govuk-summary-list-row
    *ngIf="!isUnemployed() && getEmploymentType() == 1"
    (onClick)="navigateTo('employment-public-sector-body-name')"
    [actionText]="'change'"
    (onKeyupEnter)="navigateTo('employment-public-sector-body-name')"
    key="{{ getEmploymentTypeTitle() }}"
    [showAction]="true"
  >
    {{ getEmployerName() }}
  </govuk-summary-list-row>

  <govuk-summary-list-row
    *ngIf="!isUnemployed() && getEmploymentType() == 2"
    (onClick)="navigateTo('employment-private-sector-body-name')"
    [actionText]="'change'"
    (onKeyupEnter)="navigateTo('employment-private-sector-body-name')"
    key="{{ getEmploymentTypeTitle() }}"
    [showAction]="true"
  >
    {{ getEmployerName() }}
  </govuk-summary-list-row>

  <govuk-summary-list-row
    *ngIf="!isUnemployed() && getEmploymentType() == 3"
    (onClick)="navigateTo('employment-other-name')"
    [actionText]="'change'"
    (onKeyupEnter)="navigateTo('employment-other-name')"
    key="{{ getEmploymentTypeTitle() }}"
    [showAction]="true"
  >
    {{ getEmployerName() }}
  </govuk-summary-list-row>

  <govuk-summary-list-row
    *ngIf="!isUnemployed()"
    (onClick)="navigateTo('search-empoloyment-org-address')"
    [actionText]="'change'"
    (onKeyupEnter)="navigateTo('search-empoloyment-org-address')"
    key="{{ getEmploymentAddressTitle() }}"
    [showAction]="true"
  >
    <div>
      <div
        *ngIf="
          BuildingInspectorProfessionalActivityDetails?.EmploymentDetails
            ?.EmployerAddress
        "
      >
        {{
          BuildingInspectorProfessionalActivityDetails?.EmploymentDetails
            ?.EmployerAddress?.Address
        }}
      </div>
      <div
        *ngIf="
          BuildingInspectorProfessionalActivityDetails?.EmploymentDetails
            ?.EmployerAddress?.AddressLineTwo
        "
      >
        {{
          BuildingInspectorProfessionalActivityDetails?.EmploymentDetails
            ?.EmployerAddress?.AddressLineTwo
        }}
      </div>
      <div
        *ngIf="
          BuildingInspectorProfessionalActivityDetails?.EmploymentDetails
            ?.EmployerAddress?.Town
        "
      >
        {{
          BuildingInspectorProfessionalActivityDetails?.EmploymentDetails
            ?.EmployerAddress?.Town
        }}
      </div>
      <div
        *ngIf="
          BuildingInspectorProfessionalActivityDetails?.EmploymentDetails
            ?.EmployerAddress?.Postcode
        "
      >
        {{
          BuildingInspectorProfessionalActivityDetails?.EmploymentDetails
            ?.EmployerAddress?.Postcode
        }}
      </div>
    </div></govuk-summary-list-row
  >
</govuk-summary-list>
