<div class="govuk-form-group">
  <govuk-error-summary
    *ngIf="hasErrors"
    title="There is a problem"
    #summaryError
  >
    <govuk-error-link
      *ngIf="errors.emailAddress.hasError"
      anchorId="input-email-address"
      message="{{ errors.emailAddress.errorText }}"
    />
    <govuk-error-link
      *ngIf="errors.applicationNumber.hasError"
      anchorId="{{ errors.applicationNumber.anchorId }}"
      message="{{ errors.applicationNumber.errorText }}"
    />
    <govuk-error-link
      *ngIf="errors.phoneNumber.hasError"
      anchorId="input-phone-number"
      message="{{ errors.phoneNumber.errorText }}"
    />
    <govuk-error-link
      *ngIf="errors.verificationOption.hasError"
      anchorId="phone-option-input"
      message="{{ errors.verificationOption.errorText }}"
    />
    <govuk-error-link
      *ngIf="errors.serviceError.hasError"
      message="{{ errors.serviceError.errorText }}"
    />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Continue a saved application</h1>

  <govuk-body>
    You'll need the email address, mobile number and application number
    associated with this application. if you no longer have access to these, you
    will need to
    <a
      class="govuk-link"
      [routerLink]="['/new-application/new-applicant-name']"
    >
      start a new application.</a
    >.
  </govuk-body>

  <div class="govuk-form-group" style="margin-bottom: 30px">
    <govuk-input
      id="application-number"
      label="Application number"
      labelClass="govuk-label--s"
      [maxlength]="12"
      hint="Your application number is in the email we sent when you began your application. For example, '000123456789'."
      [(model)]="applicationNumber"
      class="govuk-input--width-20 govuk-!-margin-bottom-20px"
      (modelChange)="applicationNumberChange.emit(applicationNumber)"
      [errorText]="
        getErrorDescription(
          errors.applicationNumber.hasError,
          errors.applicationNumber.errorText
        )
      "
      (onKeyupEnter)="validateAndContinue()"
    />
  </div>

  <label
    class="govuk-label govuk-label--s govuk-!-margin-bottom-20px"
    for="select-security-code-option"
  >
    How do you want to receive your 6-digit security code?
  </label>
  <govuk-body>
    <p>
      1. Choose to receive the the 6-digit security code by text message or
      email.<br />
      2. Enter the email or mobile number associated with the application.
    </p>
  </govuk-body>
  <govuk-radio-group
    id="select-security-code-option"
    [(model)]="verificationOption"
    #field
    [govukRequired]="field"
    (modelChange)="verificationOptionChange.emit(verificationOption)"
    [errorText]="
      getErrorDescription(
        errors.verificationOption.hasError,
        errors.verificationOption.errorText
      )
    "
    class="govuk-!-margin-bottom-5"
  >
    <govuk-radio
      [model]="verificationOption"
      name="phone-option"
      id="phone-option"
      value="phone-option"
      label="Text message"
      labelClass="govuk-label--s govuk-!-font-weight-strong"

      (onKeyupEnter)="validateAndContinue()"
      (modelChange)="verificationOptionChange.emit(verificationOption)"
    >
      <govuk-body
        ><p><strong>Verification:</strong> What email address was used for this application?</p></govuk-body
      >
      <govuk-input
        id="email-address"
        label="Email address"
        labelClass="govuk-label--s govuk-!-font-weight-strong"

        [(model)]="emailAddress"
        [maxlength]="100"
        (modelChange)="emailAddressChange.emit(emailAddress)"
        [errorText]="
          getErrorDescription(
            errors.emailAddress.hasError,
            errors.emailAddress.errorText
          )
        "
        class="govuk-!-margin-bottom-5"
        (onKeyupEnter)="validateAndContinue()"
      />
    </govuk-radio>

    <div class="govuk-radios__divider">or</div>

    <govuk-radio
      [model]="verificationOption"
      name="email-option"
      id="email-option"
      value="email-option"
      label="Email"
      (onKeyupEnter)="validateAndContinue()"
      (modelChange)="verificationOptionChange.emit(verificationOption)"
    >
    <govuk-body
    ><p><strong>Verification:</strong> What mobile telephone number was used for this application?</p></govuk-body
      >
      <govuk-input
        id="phone-number"
        label="Mobile telephone number"
        labelClass="govuk-label--s govuk-!-font-weight-strong"
        [(model)]="phoneNumber"
        [maxlength]="100"
        (modelChange)="phoneNumberChange.emit(phoneNumber)"
        [errorText]="
          getErrorDescription(
            errors.phoneNumber.hasError,
            errors.phoneNumber.errorText
          )
        "
        class="govuk-!-margin-bottom-5"
        (onKeyupEnter)="validateAndContinue()"
      />
    </govuk-radio>
  </govuk-radio-group>

  <govuk-button
    (onClick)="validateAndContinue()"
    [isLoading]="sendingRequest"
    [disabled]="sendingRequest"
    >Send verification code</govuk-button
  >
</div>
