<div class="govuk-form-group">
  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="errors.emailAddress.hasError" anchorId="input-email-address" message="{{errors.emailAddress.errorText}}" />
    <govuk-error-link *ngIf="errors.applicationNumber.hasError" anchorId="input-application-number" message="{{errors.applicationNumber.errorText}}" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Continue a saved application</h1>

  <govuk-input id="email-address" label="Email address" labelClass="govuk-label--s"
                hint="This is the email address you used when you began this application."
                [(model)]="emailAddress" type="email" [maxlength]=100
                (modelChange)="emailAddressChange.emit(emailAddress)"
                [errorText]="getErrorDescription(errors.emailAddress.hasError, errors.emailAddress.errorText)"
                class="govuk-!-margin-bottom-5"
                (onKeyupEnter)="validateAndContinue()" />

  <govuk-input id="application-number" label="Application number" labelClass="govuk-label--s"
                hint="Find this in the email we sent to you when you began your application. For example, '000123456789'."
                [(model)]="applicationNumber" class="govuk-input--width-20"
                (modelChange)="applicationNumberChange.emit(applicationNumber)"
                [errorText]="getErrorDescription(errors.applicationNumber.hasError, errors.applicationNumber.errorText)"
                (onKeyupEnter)="validateAndContinue()" />

</div>

<govuk-body>If that email address or application number is no longer available to you, <a href="https://www.hse.gov.uk/contact/tell-us-about-a-health-and-safety-issue.htm" target="_blank" class="govuk-link" role="link">contact us</a>.</govuk-body>

<govuk-button (onClick)="validateAndContinue()" [isLoading]="sendingRequest" [disabled]="sendingRequest">Continue</govuk-button>
