<!-- <govuk-back-link>Back</govuk-back-link> -->

<a (click)="stepBack()" class="govuk-back-link" tabindex="0" (keyup.enter)="stepBack()" role="link">Back</a>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <application-enterdata *ngIf="step == 'enterdata'" (onContinue)="showVerifyApplication()" [(emailAddress)]="emailAddress" [(applicationNumber)]="applicationNumber" />

      <application-verify *ngIf="step == 'verify' || step=='resendverify'" (onResendClicked)="showResendStep()" [emailAddress]="emailAddress" [applicationNumber]="applicationNumber!" [phoneNumber]="phoneNumber" [verificationOption]="verificationOption!" />

      <application-resend *ngIf="step == 'resend'" (onVerificationCodeSent)="showVerifyResend()" [emailAddress]="emailAddress!"/>
    </div>
  </div>
</div>
