<!-- <govuk-back-link>Back</govuk-back-link> -->

<a (click)="stepBack()" class="govuk-back-link" tabindex="0" (keyup.enter)="stepBack()" role="link">Back</a>

<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <application-enterdata *ngIf="step == 'enterdata'" (onContinue)="showVerifyApplication($event)" [(emailAddress)]="emailAddress" [(applicationNumber)]="applicationNumber" [(phoneNumber)]="phoneNumber" [(verificationOption)]="verificationOption" />

      <application-verify *ngIf="step == 'verify' || step=='resendverify'" (onResendClicked)="showResendStep()" (onShowChangeVerificationStepClicked)="showChangeVerificationStep()" [emailAddress]="verificationEmail" [applicationNumber]="applicationNumber!" [phoneNumber]="verificationPhone" [verificationOption]="verificationOption!" />

      <application-resend *ngIf="step == 'resend'"  (onVerificationCodeSent)="showVerifyResend()" [emailAddress]="verificationEmail" [applicationNumber]="applicationNumber!" [phoneNumber]="verificationPhone" [verificationOption]="verificationOption!"/>
    </div>
  </div>
</div>
