<div class="govuk-form-group">
  <govuk-error-summary *ngIf="hasErrors" title="There is a problem" #summaryError>
    <govuk-error-link *ngIf="errors.securityCode.hasError" anchorId="input-security-code" message="{{errors.securityCode.errorText}}" />
  </govuk-error-summary>

  <h1 class="govuk-heading-l">Security code</h1>

  <ng-container *ngIf="verificationOption == 'email-option'" >
      <govuk-body>We have sent a 6-digit security code to: <b>{{ emailAddress }}</b>.</govuk-body>
      <govuk-body>If you cannot find the email, check your spam folder.</govuk-body>
      <govuk-body>If you still cannot find the code or it has expired, <a (click)="showResendStep()" (keyup.enter)="showResendStep()" class="govuk-link cursor" role="link" tabindex="0">ask us to generate a new code</a>, or <a (click)="showChangeVerificationStep()" (keyup.enter)="showChangeVerificationStep()" class="govuk-link cursor" role="link" tabindex="0">send the verification code to your phone</a>.</govuk-body>

      <govuk-input id="security-code" label="Security code" labelClass="govuk-label--s"
                  hint="For example, '123456'." [(model)]="securityCode" class="govuk-input--width-10"
                  [errorText]="getErrorDescription(errors.securityCode.hasError, errors.securityCode.errorText)"
                  (onKeyupEnter)="validateAndContinue()" />

  </ng-container>

  <ng-container *ngIf="verificationOption == 'phone-option'" >
    <govuk-body>We have sent a 6-digit security code to: <b>{{ phoneNumber }}</b>.</govuk-body>
    <govuk-body>If you did not receive the text message, or the security code timed out, ask us to <a (click)="showResendStep()" (keyup.enter)="showResendStep()" class="govuk-link cursor" role="link" tabindex="0">generate a new security code</a>, or <a (click)="showChangeVerificationStep()" (keyup.enter)="showChangeVerificationStep()" class="govuk-link cursor" role="link" tabindex="0">send the verification code to your email</a>.</govuk-body>


    <govuk-input id="security-code" label="Security code" labelClass="govuk-label--s"
                hint="For example, '123456'." [(model)]="securityCode" class="govuk-input--width-10"
                [errorText]="getErrorDescription(errors.securityCode.hasError, errors.securityCode.errorText)"
                (onKeyupEnter)="validateAndContinue()" />

</ng-container>

</div>

<govuk-button (onClick)="validateAndContinue()" [isLoading]="sendingRequest" [disabled]="sendingRequest">Continue</govuk-button>
